.personal
	.personal__verify
		.personal__verify_left
			i.personal__verify_icon
				+use("padlock")
		.personal__verify_right
			h1 Verify Your Identity
			p We need to verify your identity in order to transfer funds to you. You’ll only need to do this one. 
			a(href="#").personal__verify_link verify now
	ul.personal__menu-list  
		li.personal__menu-list_item.active(data-class="first")
			a(href="#").personal__menu-list_item-link
				| Personal Information & Password
		li.personal__menu-list_item(data-class="second")
			a(href="#").personal__menu-list_item-link
				| Bussines Information
		li.personal__menu-list_item(data-class="third")
			a(href="#").personal__menu-list_item-link
				| Accounts & Payments 
		li.personal__menu-list_item(data-class="fourth")
			a(href="#").personal__menu-list_item-link
				| Verification
	ul.personal__block-list
		li.personal__block-list_item.personal__block-list_item-first.active
			.personal__block-list_item_head
				i.personal__block-list_item_personal_head_icon
					+use("user")
				| Personal Information & Password
			.personal__block-list_item_personal
				.personal__block-list_item_personal-info
					.personal__block-list_item_personal_head
						| Personal Information
					.personal__block-list_item_personal_middle
						.personal__block-list_item_personal_middle-block
							#divAvatar.personal__block-list_item_personal_middle_avatar
								#divDropZone.add_avatar_block
									img#MainContent_ucFileUploader_imgAvatar(src='https://pp.userapi.com/c406423/v406423680/2882/0BaT1DBqt0U.jpg')
								input#fileInput(style='display:none; visibility:hidden;', type='file', name='file')
								a#MainContent_ucFileUploader_lbBrowseExisting.personal__block-list_item_personal_middle_avatar-add(onclick="$('#fileInput').click(); return false;", href="javascript:__doPostBack('ctl00$MainContent$ucFileUploader$lbBrowseExisting','')")
									i.personal__block-list_item_personal_middle_avatar-add-icon
										+use('pencil')
									|add photo
							#checkuserdata.personal__block-list_item_personal_middle-form(role='form')
								.form-group.personal__block-list_item_personal_middle-form-item
									span First Name
									input#MainContent_tbFirstNameChange(name='ctl00$MainContent$tbFirstNameChange', type='text', value='Dmitry', data-bv-field='ctl00$MainContent$tbFirstNameChange')
								.form-group.personal__block-list_item_personal_middle-form-item
									span Last Name
									input#MainContent_tbLastNameChange(name='ctl00$MainContent$tbLastNameChange', type='text', value='Ososkov', data-bv-field='ctl00$MainContent$tbLastNameChange')
								.form-group.personal__block-list_item_personal_middle-form-item
									span Email
									input#MainContent_tbEmailChange(name='ctl00$MainContent$tbEmailChange', type='email', value='dososkov@gmail.com', data-bv-field='ctl00$MainContent$tbEmailChange')
								.form-group.personal__block-list_item_personal_middle-form-item
									span Phone
									input#MainContent_tbPhoneChange(name='ctl00$MainContent$tbPhoneChange', type='tel', data-bv-field='ctl00$MainContent$tbPhoneChange')
								.form-group.personal__block-list_item_personal_middle-form-item
									span Address
									input#MainContent_tbAddressChange(name='ctl00$MainContent$tbAddressChange', type='text', value='роь')
								.form-group.personal__block-list_item_personal_middle-form-item
									span DOB
									input#MainContent_tbDOBChange(name='ctl00$MainContent$tbDOBChange', type='text', value='прть')
								a#MainContent_lbChangeSave.rp__btn.personal__block-list_item_personal_middle-form_link(onclick='return false;', href="javascript:__doPostBack('ctl00$MainContent$lbChangeSave','')")
									| SAVE
				.personal__block-list_item_personal-password
					.personal__block-list_item_personal_head
						| Password
					.personal__block-list_item_personal_middle
						.personal__block-list_item_personal_middle-block(onkeypress="javascript:return WebForm_FireDefaultButton(event, 'MainContent_lbChangePassword')")
							#checkpassword.personal__block-list_item_personal_middle-form(role='form')
								.form-group.personal__block-list_item_personal_middle-form-item
									span Current Password
									input#MainContent_tbCurrentPasswordChange.current_password_change(name='ctl00$MainContent$tbCurrentPasswordChange', type='password', maxlength='25', data-bv-field='ctl00$MainContent$tbCurrentPasswordChange')
								.form-group.personal__block-list_item_personal_middle-form-item
									span New Password
									input#MainContent_tbNewPasswordChange.new_password_change(name='ctl00$MainContent$tbNewPasswordChange', type='password', maxlength='25', data-bv-field='ctl00$MainContent$tbNewPasswordChange')
								.form-group.personal__block-list_item_personal_middle-form-item
									span Confirm
									input#MainContent_tbConfirmChange.confirm_change(name='ctl00$MainContent$tbConfirmChange', type='password', maxlength='25', data-bv-field='ctl00$MainContent$tbConfirmChange')
								a#MainContent_lbChangePassword.personal__block-list_item_personal_middle-form_link(href="javascript:__doPostBack('ctl00$MainContent$lbChangePassword','')")
									| SAVE PASSWORD
								a(href='#').personal__block-list_item_personal_middle-form_link-pass
									| Forgot my current password
		li.personal__block-list_item.personal__block-list_item-second
			| test2
		li.personal__block-list_item.personal__block-list_item-third
			| test3
		li.personal__block-list_item.personal__block-list_item-fourth
			| test4