@import '../../bower_components/singularity/stylesheets/_singularitygs';

@import '../../bower_components/breakpoint-sass/stylesheets/_breakpoint';

@import 'common/fonts';

@import 'common/sprite';

@import 'common/mixins';

* {
	box-sizing: border-box;
	font: 100% $primary-font, sans-serif;
	margin: 0;
	padding: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 100% $primary-font, sans-serif;
	line-height:1;
	-moz-osx-font-smoothing:grayscale;
	-webkit-font-smoothing:antialiased;
	overflow: hidden;
}
:before, :after {
	box-sizing: content-box;
}
ul {
	padding: 0;
	margin: 0;
	& li {
		list-style: none; 
	}
}
h1 {
	font-size: 18px;
	line-height: 1.5;
	margin: 0;
}
input::-ms-clear {
   display: none;
}
::-ms-clear {
  width : 0;
  height: 0;
}
.rp__container {
	/*debug*/
	//@include sgs-change('debug', true);
	//@include add-grid(4);
	//@include background-grid($color: blue);
	/*!debug*/
	
	width: 100%;
	margin: 0 auto;
	position: relative;
}
a,
a:hover,
a:focus {
	text-decoration: none;
	cursor: pointer;
    color: inherit;
}
i {
	font-size: 0;
	display: inline-block;
	position: relative;
	& .my_svg {
		z-index: 1;
	}
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
	}
}
.rp__middle .rp__container {
	display: flex;
}
.rp__content {
	background-color: $background-content-color;
	overflow: auto;
	height: 94vh;
	flex: 1 1 auto;
	@include breakpoint(320px) {
		margin-left: 81px;
	}
	@include breakpoint(1280px) {
		margin-left: 0;
	}
}
.main__content {
	overflow: hidden;
	padding: 28.5px 72px 20px 28.5px!important;
}
.link_show_me {
	position: fixed;
    top: 50%;
    background-color: #fff;
    color: $second-font-color;
    transform: rotate(-90deg);
    text-transform: uppercase;
    display: flex;
    align-items: center;
	font-size: 9.79px;
	padding: 19.5px 17px;
	right: -78px;
    & .icon_show_me {
    	margin-right: 10px;
	}
	& .my_svg {
		transform: translate(30) rotate(45 50 50);
		fill: #c2c5d3;
		width: 15px;
		height: 15px;
	}
}
.local__preloader.local__preloader.local__preloader {
	position: relative;
	overflow: hidden;
	& .preloader {
		display: block!important;
		background-color: rgba(255, 255, 255, 0.95);
		&__percents {
			display: none;
		}
	}
}

@import 'common/header';

@import 'common/left_menu';

@import 'common/prop_menu';

@import 'properties/props';

@import 'properties/create';

@import 'tenants/tenants';

@import 'tenants/norentals';

@import 'tenants/tenant_messages';

@import 'tenants/messages';

@import 'tenants/reports&finances';

@import 'tenants/finances';

@import 'user/profile';

@import 'common/scroll';

@import 'common/preloader';

@import 'common/test';

@import 'applicants/applications_page';

@import 'dashboard/dashboard';