@import '../../bower_components/singularity/stylesheets/_singularitygs';

@import '../../bower_components/breakpoint-sass/stylesheets/_breakpoint';

@import 'common/fonts';

@import 'common/sprite';

@import 'common/mixins';

* {
	box-sizing: border-box;
	font: 100% $primary-font, sans-serif;
	margin: 0;
	padding: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 100% $primary-font, sans-serif;
	line-height:1;
	-moz-osx-font-smoothing:grayscale;
	-webkit-font-smoothing:antialiased;
	overflow: hidden;
}
:before, :after {
	box-sizing: content-box;
}
ul {
	padding: 0;
	margin: 0;
	& li {
		list-style: none; 
	}
}
h1 {
	@include breakpoint(320px) {
		font-size: 18px;
		line-height: 1.5;
		margin: 0;
	}
	@include breakpoint(2600px) {
		font-size: 46px;
		line-height: 0.9;
	}	
}
.rp__container {
	/*debug*/
	//@include sgs-change('debug', true);
	//@include add-grid(4);
	//@include background-grid($color: blue);
	/*!debug*/
	
	@include breakpoint(320px) {
		width: 100%;
		margin: 0 auto;
		position: relative;
	}
}
a,
a:hover,
a:focus {
	text-decoration: none;
	cursor: pointer;
    color: inherit;
}
i {
	font-size: 0;
}
.rp__middle .rp__container {
	display: flex;
}
.rp__content {
	background-color: $background-content-color;
	overflow: auto;
	@include breakpoint(320px) {
		height: 94.237vh;
		width: 83vw;
	}
	@include breakpoint(1170px) {
		width: 87.5625vw;
	}
	@include breakpoint(2000px) {
		height: 93.277vh;
	}
}
.main__content {
	@include breakpoint(320px) {
		padding: 3vh 3.333vw 4vh 4vw!important;
	}
	@include breakpoint(1170px) {
		padding: 3vh 3.333vw 4vh 3.333vw!important;
	}
	@include breakpoint(2000px) {
		padding: 3.3333vh 7.667vw 4vh 3.333vw!important;
	}
}
.link_show_me {
	position: fixed;
    top: 50%;
    background-color: #fff;
    color: $second-font-color;
    transform: rotate(-90deg);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    @include breakpoint(320px) {
    	font-size: 9.79px;
	    padding: 16px 17px;
        right: -84px;
        & .icon_show_me {
        	margin-right: 10px;
    	}
    	& .my_svg {
    		transform: translate(30) rotate(45 50 50);
    		fill: #c2c5d3;
    		width: 15px;
    		height: 15px;
    	}
    }
    @include breakpoint(2600px) {
    	font-size: 23px;
    	padding: 45px 44px;
    	right: -205px;
    	& .icon_show_me {
        	margin-right: 20px;
    	}
    	& .my_svg {
    		width: 35px;
    		height: 35px;
    	}
    }
}

@import 'common/header';

@import 'common/left_menu';

@import 'common/prop_menu';

@import 'properties/props';

@import 'properties/create';

@import 'tenants/tenants';

@import 'user/profile';

@import 'common/scroll';

@import 'common/preloader';