.finances__block_title {
	display: flex;
}
.finances__block_title_img {
	width: 83px;
	height: 83px;
	overflow: hidden;
	& img {
		height: 100%;
	}
}
.finances__block_title_address {
	margin-left: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	& .main__address {
		font-size: 46px;
		font-family: $fourth-font;
	    line-height: 0.7;
	}
	& .sub__address {
		color: #9597a1;
		font-size: 28px;
		font-family: $third-font;
	    line-height: 0.8;
	}
}
.finances__block_status-bar {
	display: flex;
    align-items: center;
    margin: 50px 0 30px;
}
.finances__block_status-bar_lease {
	background-color: #fff;
	font-size: 31px;
	font-family: $fourth-font;
	padding: 45px 40px 44px 70px;
	flex: 0 1 1215px;
	& .finances__block_status-bar_lease_link {
		display: inline-flex;
	}
	& .finances__block_status-bar_lease_img {
		width: 57px;
		height: 57px;
		position: relative;
		& img {
			width: 100%;
		}
		&:before {
			content: '';
			position: absolute;
			border-radius: 50%;
			width: 17px;
			height: 17px;
			background-color: #2dc888;
			top: 3px;
			right: 0;
		}
	}
	& .finances__block_status-bar_lease_name {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-left: 30px;
	}
	& span {
		color: #cfd2dd;
		text-transform: uppercase;
		font-size: 20px;
		font-family: $second-font;
	}
}
.finances__block_status-bar_status {
	background-color: #fdf4f4;
	padding: 45px 0px 44px 60px;
	flex: 1 1 auto;
}
.finances__block_tenant {
	background-color: #fff;
	padding: 80px 70px;
	overflow: hidden;
	margin-bottom: 30px;
}
.finances__block_tenant_btn-block {
	padding-bottom: 54px;
	position: relative;
	&:before {
		content: '';
		position: absolute;
		bottom: 0;
		height: 2px;
		width: 150%;
		left: -25%;
		background-color: #f4f5f9;
	}
}
.finances__block_tenant_btn-block_link {
	@extend .rp__btn;
    color: #c9ccd7;
    background: linear-gradient(to top, #f9fafd, #fff, #fff);
	&:hover {
		background: #33dd97;
        border-color: #2dc888;
        color: #fff;
	}
	margin-right: 30px;
}
.finances__block_tenant_btn-block_link_last {
	margin-right: 0;
	min-width: auto;
	padding: 22px 20px;
	& .my_svg {
		width: 24px;
		height: 24px;
		fill: #cdcfd7;
	}
}
.finances__block_tenant_info {
	display: flex;
	justify-content: space-between;
	padding: 65px 0;
}
.finances__block_tenant_info_block {
	border: 2px solid #f4f5f9;
	padding: 66px 84px 0 84px;
	flex: 1 1 auto;
	&:nth-child(1) {
		margin-right: 30px;
	}
	&:nth-child(2) {
		margin-left: 30px;
	}
	& .my_svg {
		width: 84px;
		height: 84px;
		fill: #9e9fa8;
		stroke-width: 0px;
	}
}
.finances__block_tenant_info_block_line {
	display: flex;
	margin-bottom: 65px;
}
.finances__block_tenant_info_block_line-info {
	margin-left: 40px;
	font-size: $fourth-font;
	font-size: 30px;
	display: inline-flex;
	flex-direction: column;
	justify-content: space-between;
}
.finances__block_tenant_info_block_line_object {
	color: #9e9fa8;
}
.finances__block_tenant_info_block_line_details {
	color: #53555f; 
}

.finances__block_payments {
	background-color: #fff;
	overflow: hidden;
}
.finances__block_payments_tabs {
	display: flex;
	flex-direction: column;
	& .personal__menu-list {
		display: inline-flex;
		margin: 0 auto;
		width: auto;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			height: 2px;
			width: 200%;
			left: -50%;
			background-color: #f4f5f9;
		}
	}
}
.finances__block_payments_tabs_inner {
	padding: 0 70px;
}
.finances__block_payments_tabs_inner_block {
	border-bottom: 2px solid #f4f5f9;
	& h4 {
		text-align: center;
		font-size: 35px;
		font-family: $fourth-font;
		margin-top: 140px;
	}
	p {
		font-size: 26px;
		text-align: center;
		color: #b1b4bf;
		padding: 0 20%;
		margin-top: 70px;
		margin-bottom: 100px;
	} 
}

.finances__block_payments_tabs_inner_tables {
	display: flex;
	justify-content: space-between;
    flex-flow: row wrap;
    & .reports-finances_block {
    	flex-grow: 0;
    	flex-basis: 1100px;
    } 
    & .reports-finances_block_title {
    	text-transform: uppercase;
    	& .reports-finances_block_title_viewall {
    		background-color: #e4e6ee;
    		color: #000;
    		&:hover {
    			background-color: #fff;
    		}
    	}
    }
    & .reports-finances_block_middle_table tbody tr {
    	&:nth-child(2n+1) td {
    		background-color: #fff;
    	}
    	&:nth-child(2n+2) td {
    		background-color: #f4f5f9;
    	}
    }
    & th {
		&:nth-child(4) {
			text-align: left;
		}
	}
}
.reports-finances_block_middle_table.date-received {
	& td {
		&:nth-child(2) {
			width: 40%;
		}
	}
}
.finances__block_payments_tabs_inner_block_month {
	font-size: 26px;
    display: block;
    text-align: center;
    margin-top: 30px;
	& .arrow-down {
		display: inline-block;
		margin-left: 20px;
	}
	& .my_svg {
		width: 20px;
		height: 20px;
		fill: #c2c4d0;
	}
}

.payment_history_calendar {
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
	text-align: center;
	font-family: $fourth-font;
	& .payment_history_calendar_item {
		flex: 1 1 25%;
		margin-bottom: 90px;
		&:before {
			content: '';
			position: relative;
			width: 8px;
			height: 8px;
			border: 7px solid;
			border-radius: 50%;
			display: block;
			margin: 0 auto;
			margin-bottom: 25px;
		}
		&.late {
			&:before {
				border-color: #f4511e;
			}
			& .payment_history_calendar_item_date {
				color: #f4511e;
			}
		}
		&.on-time {
			&:before {
				border-color: #2dc888;
			}
			& .payment_history_calendar_item_date {
				color: #2dc888;
			}
		}
	}
	& .payment_history_calendar_item_date {
		font-size: 21.83px;
	}
	& .payment_history_calendar_item_price {
		font-size: 21.96px;
	}
}
.finances__block_payments_tabs_inner_tables_last {
	margin-bottom: 230px;
	& .reports-finances_block {
		flex: 1 1 50%;
		padding-bottom: 0;
		position: relative;
		overflow: inherit;
	}
	& .reports-finances_block_middle {
		display: flex;
		height: 100%;
		padding-bottom: 100px;
	}
	& .reports-finances_block_middle_rate {
		margin: auto;
	}
}
.payment_history_calendar_info {
	position: absolute;
	bottom: -60px;
    right: 0;
	display: flex;
	font-size: 23px;
	font-family: $fourth-font;
	& .payment_history_calendar_info_item {
		display: inline-flex;
		align-items: center;
		margin-left: 70px;
		&:before {
			content: '';
			position: relative;
			width: 8px;
			height: 8px;
			border: 7px solid;
			border-radius: 50%;
			display: inline-block;
			margin-right: 15px;
		}
		&.late {
			border-color: #f4511e;
			color: #f4511e;
		}
		&.on-time {
			border-color: #2dc888;
			color: #2dc888;
		}
	}
}
