.tenanant-chat_left.tennant-chat_left_landlord {
	& .tenanant-chat_left_block_search_middle_result {
		font-size: 12.06px;
		padding: 25px 20px;
		& div {
			margin: 0;
			padding: 0;
			text-align: left;
		}
	}
	& .tenanant-chat_left_block_search_middle_image {
		width: 48px;
		height: 48px;
	    float: left;
	    margin-right: 16px!important;
	    background-color: #f4f5f9;
	    text-align: center!important;
	    text-transform: uppercase;
	    color: #dbdde4;
	    font-size: 18.65px;
        line-height: 2.7;
        font-family: $fourth-font;
	}
	& .tenanant-chat_left_block_search_middle_name {
		font-size: 15.35px;
		& sup {
			display: none;
			top: 100%;
			right: 0;
			line-height: 20px;
		}
	}
	& .tenanant-chat_left_block_search_middle_address, 
	& .tenanant-chat_left_block_search_middle_phone {
		font-size: 12.06px;
	}
}
.tenanant-chat_left_block_search_header {
	& .personal__menu-list {
		justify-content: center;
		padding-top: 15px;
		border-color: #fff;
		& .personal__menu-list_item {
			border-radius: 6px 6px 0 0;
		    bottom: -1px;
			&.active {
				background-color: #fff;
				& .personal__menu-list_item-link {
					color: #777b8c;
					&:after {
						display: none;
					}
				}
			}
			& .personal__menu-list_item-link {
				font-size: 14px;
				padding: 20px 15px;
				font-family: $primary-font;
			}
		}
	} 
}
