.tenant_my_rental {
	& .icon_cancel-house {
		width: 128px;
		height: 128px;
		fill: #c0c3cf;
	} 
	& h1 {
		font-size: 46px;
		font-family: $fourth-font;
	}
	& span {
		color: #9697a1;
		font-size: 32px;
		font-family: $third-font;
		display: inline-block;
	    margin-bottom: 70px;
	}
	& .tenant__invite {
		display: flex;
		justify-content: flex-start;
	    align-items: flex-end;
	    & .tenant__invite_block {
	    	font-size: 26px;
			display: block;
			position: relative;
			flex-direction: column;
			margin-right: 40px;
		    margin-bottom: 20px;
		    width: 19%;
			& input {
				@extend .rp__input;
			}
	    }
	}
	& .tenant__invite_block_link {
	    display: table;
		@extend .rp__btn;
		@extend .rp__btn_green;
	}
}