.reports-finances__inner {
	overflow: hidden;
	& .invoices_history_list:after {
		width: 60px;
		right: -60px;
	}
}
.reports-finances {
	display: flex;
	flex-flow: row wrap;
    justify-content: space-between;
}
.reports-finances_block {
	background-color: #fff;
    justify-content: space-around;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border-radius: 6px;
    overflow: hidden;
    &.reports-finances_block_links {
    	flex: 1 1 100%;
    }
    &.reports-finances_block_schedule {
    	flex: 0 1 1270px;
    }
    &.reports-finances_block_advice {
    	flex: 0 1 680px;
    }
    &.reports-finances_block_rate {
    	flex: 0 1 1310px;
    }
    &.reports-finances_block_chart,
    &.reports-finances_block_table {
    	flex: 0 1 640px;
    }
}
.reports-finances_block_title {
	font-size: 13.05px;
	font-family: $fourth-font;
	color: #b4b6c0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 12px;
	& span {
		color: #d1d3da;
		margin-left: 10px;
	}
	& .reports-finances_block_title_viewall {
		font-size: 12.01px;
		font-family: $fourth-font;
		color: #fff;
		background-color: #8190c5;
		border-radius: 6px;
		text-transform: uppercase;
		padding: 7px 8px;
		&:hover {
			background-color: #fff;
			color: #000;
			text-decoration: underline;
		}
	}
	& h3 {
		font-size: 16px;
		color: #000;
		font-family: $primary-font;
	}
}
.reports-finances_block_middle_rate {
	position: relative;
}
.reports-finances_block_middle_rate_icon {
	display: block;
	margin: auto;
	& .my_svg {
		margin: 0 auto;
	    display: block;
	}
	& #passage-of-time {
		width: 178px;
		height: 178px;
		fill: #f7f8fb;
	}
	& #calendar-ok {
		width: 215px;
		height: 215px;
		fill: #f4511e;
	}
}
.reports-finances_block_middle_rate_title {
	font-size: 40px;
	text-align: center;
	font-family: $fourth-font;
	text-transform: uppercase;
}
.reports-finances_block_middle_rate_number {
	color: #e5594b;
	font-size: 55px;
	font-family: $fourth-font;
    text-align: center;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
}
.reports-finances_block_middle_rate_info {
	font-size: 14.87px;
	text-transform: uppercase;
	font-family: $fourth-font;
	position: absolute;
	text-align: center;
	left: 0;
	right: 0;
	top: 110px;
}
.reports-finances_block_footer {
	& .reports-finances_block_footer_title {
		font-size: 28px;
		text-transform: uppercase;
		font-family: $fourth-font;
		text-align: center;
		margin-top: 20px;
		margin-bottom: 90px;
	}
}

.reports-finances_block_footer_list-latest-arrears {
	display: flex;
    justify-content: space-between;
    position: relative;
    font-family: $fourth-font;
    text-align: center;
    &:before {
    	content: '';
    	position: absolute;
    	height: 3px;
    	width: 150%;
    	background-color: #f4f5f9;
    	top: 9.5px;
    	left: -25%;
    }
    & .reports-finances_block_footer_list-latest-arrears_item {
    	&:before {
			content: '';
			display: block;
			position: relative;
			border-radius: 50%;
			z-index: 2;
			margin: 0 auto;
			border: 7px solid #f4511e;
			width: 8px;
			height: 8px;
    	}
    }
    & .reports-finances_block_footer_list-latest-arrears_item_date {
    	font-size: 22.83px;
    	color: #f4511e;
    }
    & .reports-finances_block_footer_list-latest-arrears_item_date_icon {
    	display: block;
    	margin: 30px 0;
    	& .my_svg {
    		fill: #f4511e;
    		width: 20px;
    		height: 20px;
    	}
    }
    & .reports-finances_block_footer_list-latest-arrears_item_price {
    	font-size: 21.96px;
    }
    & .reports-finances_block_footer_list-latest-arrears_item_days-late {
    	font-size: 21px;
    	color: #ced0d8;
    }
}
.download_ledger {
	@extend .rp__btn;
	color: #b6bac9;
	background-color: #f4f5f9;
	border-color: #f4f5f9;
	margin-right: 20px;
	&:hover {
		color: #b6bac9;
		opacity: .8;
	}
}
.make_payment {
	@extend .rp__btn;
	color: #fff;
	background-color: #86cb88;
	border-color: #86cb88;
	&:hover {
		color: #fff;
		opacity: .8;
	}
}
.reports-finances_block_middle_chart {
	position: relative;
	margin: 40px 152px 60px 152px;
}
.chart-legend {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	font-size: 13.26px;
	& span {
		width: 9px;
		height: 9px;
		border-radius: 50%;
		border: 2px solid;
		display: block;
		margin-right: 27px;
	}
	& li {
		position: absolute;
		display: flex;
		&.left {
			text-align: right;
			span {
				order: 2;
				margin-left: 27px;
				margin-right: 0;
			}
		}
	}

}
.doughnut_chart_sum {
	position: relative;
	top: 50%;
	margin-top: -20px;
	display: block;
	font-family: $fourth-font;
	text-align: center;
	& .doughnut_chart_sum_title {
		font-size: 12px;
		text-transform: uppercase;
		color: #b0b4c1;
	}
	& .doughnut_chart_sum_price {
		font-size: 21px;
		color: #43485c;
		font-family: $second-font;
	}
}
/*tables*/
.reports-finances_block_middle_table {
	width: 100%;
	font-size: 13px;
	border: 1px solid #ebedf2;
	border-spacing: 0;
	border-radius: 6px;
	& th {
		font-family: $second-font;
		text-align: left;
		text-transform: uppercase;
		padding-top: 19px;
		padding-bottom: 19px;
		&:nth-child(4) {
			text-align: right;
		}
	}
	& td,
	& td span {
		font-family: $fourth-font;
	}
	& td span {
		color: #fff;
	    float: right;
	    text-transform: uppercase;
	    padding: 2.5px 9px;
	    margin-right: 40px;
	}
	& th,
	& td {
		&:nth-child(1) {
			padding-left: 26px;
		}
		&:nth-last-child(1) {
			padding-right: 27px;
		}
	}
	& td {
		height: 52px;
	}
	& .status__paid {
		background-color: #2dc888;
	}
	& .status__partially-paid {
		background-color: #fdb10e;
	}
	& .status__due-on {
		background-color: #ced0d8;
	}
	& .status__overdue {
		background-color: #c8352d;
	}
	& .status__completed {
		background-color: #82c81f;
	}
	& .status__pending {
		background-color: #fdd835;
	}
	& .status__rejected {
		background-color: #e03737;
	}
	& .status__credit {
		background-color: #0072bc;
	}
	& .status__offline {
		background-color: #4c4f5a;
	}
	& .status__prepaid {
		background-color: #2dc887;
	}
	& tbody tr:nth-child(2n+1) {
		& td {
			background-color: #f4f5f9;
		}
	}
}
/*!tables*/