.my_class(style="width: 25%;position: relative; margin: 100px auto;")
	canvas#double_doughnut_chart
	#js-legend.chart-legend
//.my_class(style="width: 25%;position: relative; margin: 50px auto;")
	canvas#doughnut_chart
	#js-legend.chart-legend
//.my_class(style="width: 100%;")
	canvas#bar_chart
//ul.invoices_history_list
	li.invoices_history_list_item
		a(href="#").invoices_history_list_item_link
	li.invoices_history_list_item.invoices_history_list_item-paid.arrow
		a(href="#").invoices_history_list_item_link
			.invoices_history_list_item_link-sum
				| $2,000.00
			.invoices_history_list_item_link-date
				| 5 Jan 2017
			.invoices_history_list_item_link-prep
	li.invoices_history_list_item.invoices_history_list_item-next_prepaid.arrow
		a(href="#").invoices_history_list_item_link
			.invoices_history_list_item_link-sum
				| $2,000.00
			.invoices_history_list_item_link-date
				| 5 Jan 2017
			.invoices_history_list_item_link-prep
				| PREPAID
			.invoices_history_list_item_link-details
				table.invoices_history_list_item_link-details_table
					thead
						tr
							td Rent: 
							td $400.00
						tr
							td(colspan="2") For period 17.08.2016 - 21.08.2016
						tr
							td Invoice:
							td $100.00
						tr
							td(colspan="2") Internet Services
					tbody
						tr
							td Total:
							td $500.00
						tr
							td Paid: 
							td $500.00
						tr
							td Balance:
							td $0.00
	li.invoices_history_list_item.invoices_history_list_item-next_sub_prepaid.arrow
		a(href="#").invoices_history_list_item_link
			.invoices_history_list_item_link-sum
				| $2,000.00
			.invoices_history_list_item_link-date
				| 5 Jan 2017
			.invoices_history_list_item_link-prep
				| $100&nbsp;PREPAID
	li.invoices_history_list_item.invoices_history_list_item-next.arrow
		a(href="#").invoices_history_list_item_link
			.invoices_history_list_item_link-sum
				| $2,000.00
			.invoices_history_list_item_link-date
				| 5 Jan 2017
			.invoices_history_list_item_link-prep
	li.invoices_history_list_item.invoices_history_list_item-sub_arrears.arrow
		a(href="#").invoices_history_list_item_link
			.invoices_history_list_item_link-sum
				| $2,000.00
			.invoices_history_list_item_link-date
				| 5 Jan 2017
			.invoices_history_list_item_link-prep
				//| $100&nbsp;PREPAID
				span $1,900 in arrears
	li.invoices_history_list_item.invoices_history_list_item-arrears.arrow
		a(href="#").invoices_history_list_item_link
			.invoices_history_list_item_link-sum
				| $2,000.00
			.invoices_history_list_item_link-date
				| 5 Jan 2017
			.invoices_history_list_item_link-prep
				span arrears
	li.invoices_history_list_item
		a(href="#").invoices_history_list_item_link

//.rp__pop-up_inner
	.rp__pop-up
		p.rp__pop-up_head
			+use("photo-frame")
			| Karangahape Road
		.rp__pop-up_middle.rp__pop-up_middle_gallery
			#large.pr_large_img
				img#MainContent_MainImage(src='assets/img/items/item_1.jpg', style='display: inline;')
			ul#MainContent_ulThumbnail.thumbnail
				li
					a(href='assets/img/items/item_1.jpg')
						img(src='assets/img/items/item_1.jpg')
				li
					a(href='assets/img/items/item_2.jpg')
						img(src='assets/img/items/item_2.jpg')
				li
					a(href='assets/img/items/item_3.jpg')
						img(src='assets/img/items/item_3.jpg')
				li
					a(href='assets/img/items/item_1.jpg')
						img(src='assets/img/items/item_1.jpg')
				li
					a(href='assets/img/items/item_1.jpg')
						img(src='assets/img/items/item_1.jpg')
				li
					a(href='assets/img/items/item_2.jpg')
						img(src='assets/img/items/item_2.jpg')
				li
					a(href='assets/img/items/item_3.jpg')
						img(src='assets/img/items/item_3.jpg')
				li
					a(href='assets/img/items/item_1.jpg')
						img(src='assets/img/items/item_1.jpg')
		a(href="#").rp__pop-up_close
			i.rp__pop-up_close_icon
				+use("close")
			|close

//script(type='text/javascript').
	$(document).ready(function(){
	var block = $("#MainContent_ulThumbnail");
	var heightBlock = $("#large img");
	function resizeScreen(resizeBlock, heightBlock){
	block.height(function(){
	return heightBlock.height();
	});
	};
	resizeScreen(block, heightBlock);
	$(window).resize(function(){
	resizeScreen(block, heightBlock);
	});
	$("#MainContent_ulThumbnail li a").click(function(){
	$("#large img").hide().attr({"src": $(this).attr("href"), "title": $("> img", this).attr("title")});
	$("#large h2").html($("> img", this).attr("title"));
	return false;
	});
	$("#large>img").load(function(){$("#large>img:hidden").fadeIn("slow")});
	$("input[placeholder]").each(function () {
	//$(this).parent().prepend("<label for=\\"" + $(this).attr("id") + "\">" + $(this).attr("placeholder") + "</label>");
	//$(this).removeAttr("placeholder");
	if ($(this).val() == "") {
	$(this).parent().removeClass("active inactive").addClass("inactive");
	} else {
	$(this).parent().removeClass("active inactive").addClass("active");
	}
	$(this).focus(function () {
	$(this).parent().removeClass("active inactive").addClass("active");
	});
	$(this).blur(function () {
	if ($(this).val() == "") {
	$(this).parent().removeClass("active inactive").addClass("inactive");
	} else {
	$(this).parent().removeClass("active inactive").addClass("active");
	}
	});
	});
	});


