script(type='text/javascript', src='https://cdn.polyfill.io/v2/polyfill.js?features=Intl')
script(src='Scripts/editablegrid/editablegrid.js')
script(src='Scripts/editablegrid/editablegrid_renderers.js')
script(src='Scripts/editablegrid/editablegrid_editors.js')
script(src='Scripts/editablegrid/editablegrid_validators.js')
script(src='Scripts/editablegrid/editablegrid_utils.js')
script(src='Scripts/editablegrid/editablegrid_charts.js')
script(src='Scripts/Garland.js')
script(type='text/javascript', src='Scripts/bootstrap-datetimepicker.min.js')
div(style="background: #fff;padding: 15px;")
	h1 Header - h1
	br
	h2 Header - h2
	br
	h3 Header - h3
	br
	p
		| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum - p
	br
	a(href="#").rp__btn.rp__btn_green
		| continiu
	p - class: rp__btn rp__btn_green
	br
	a(href="#").rp__btn.rp__btn_red
		| Cancel
	p - class: rp__btn rp__btn_red
	br
	a(href="#").rp__btn.rp__btn_gray
		| add photos
	p - class: rp__btn rp__btn_gray
	br
	a(href="#").rp__btn.rp__btn_lite-gray
		| previous
	p - class: rp__btn rp__btn_lite-gray
	br
	a(href="#").rp__btn.rp__btn_white
		| view details
	p - class: rp__btn rp__btn_white
	br


	a(href="#").rp__btn_sm.rp__btn_sm_green
		| View Details
	p - class: rp__btn_sm rp__btn_sm_green
	br
	a(href="#").rp__btn_sm.rp__btn_sm_blue
		| active listing button
	p - class: rp__btn_sm rp__btn_sm_blue
	br
	a(href="#").rp__btn_sm.rp__btn_sm_gray
		| vacant property button
	p - class: rp__btn_sm rp__btn_sm_gray
	br
	a(href="#").rp__btn_sm.rp__btn_sm_red
		| arrears button
	p - class: rp__btn_sm rp__btn_sm_red
	br
	a(href="#").rp__btn_sm.rp__btn_sm_purple
		| view all / lease
	p - class: rp__btn_sm rp__btn_sm_purple
	br
	p use the same construction in buttons - like (&lt;a href="#" class="my_class"&gt;Button name&lt;/a&gt;)
	br
	br
	a(href="#").rp__btn_close
		i
			+use("cross-in-circle")
	p - class: rp__btn_close
	br
	a(href="#").rp__btn_show-all
		i
			+use("arrow-right")
	p - class: rp__btn_show-all
	br
	a(href="#").rp__btn_more.rp__btn_more_white
		i
			+use("more")
	p - class: rp__btn_more rp__btn_more_white
	br
	a(href="#").rp__btn_more
		i
			+use("more")
	p - class: rp__btn_more
	p - inside link use svg icon, watch html! 
	p example: 
	p &lt;a class="rp__btn_close" href="#"&gt;
	p &nbsp;&nbsp;&nbsp;&lt;i&gt;
	p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;svg class="my_svg icon_cross-in-circle" role="img"&gt;&lt;use xlink:href="assets/img/sprite.svg#cross-in-circle"&gt;&lt;/use&gt;&lt;/svg&gt;
	p &nbsp;&nbsp;&nbsp;&lt;/i&gt;
	p &lt;/a&gt;
	br
	br
	ul.prop__menu
		li.prop__menu_item
			a(href="#").prop__menu_item-link
				i
					+use("add_property")
				.prop__menu_item-link_name
					| Add Property
		li.prop__menu_item
			a(href="#").prop__menu_item-link
				i
					+use("view_all")
				.prop__menu_item-link_name
					|View: 
					span Grid
		li.prop__menu_item
			a(href="#").prop__menu_item-link
				i
					+use("search")
				.prop__menu_item-link_name
					| Search
		li.prop__menu_item
			a(href="#").prop__menu_item-link
				i
					+use("filter-results")
				.prop__menu_item-link_name
					| Filter: 
					span Off
		li.prop__menu_item
			a(href="#").prop__menu_item-link
				i
					+use("calendar")
				.prop__menu_item-link_name
					| Select Dates
		li.prop__menu_item
			a(href="#").prop__menu_item-link
				i
					+use("left-arrow")
				.prop__menu_item-link_name
					| Back To
	p - class: prop__menu_item-link
	p - use this links in lists
	br
	.form-group
		| Test select
		select.selectpicker.form-control(name='ctl00$MainContent$Frequency', onchange='FrequencyChange(this);', data-bv-field='ctl00$MainContent$Frequency')
			option(selected='selected', value='1') Weekly
			option(value='2') Fortnightly
			option(value='4') Every three weeks
			option(value='3') Monthly
	p &lt;div class="form-group"&gt;
	p 	Test select
	p 	&lt;select class="selectpicker form-control"&gt;
	p 		&lt;option selected="selected" value="1"&gt;Weekly&lt;/option&gt;
	p 			&lt;option value="2"&gt;Fortnightly&lt;/option&gt;
	p 			&lt;option value="4"&gt;Every three weeks&lt;/option&gt;
	p 			&lt;option value="3"&gt;Monthly&lt;/option&gt;
	p 		&lt;/select&gt;
	p &lt;/div&gt;
	br
	input(type="text", placeholder="Help text").rp__input
	p - class: rp__input
	br
	input(type="text", placeholder="Price").rp__input.rp__input_price
	p - class: rp__input rp__input_price
	br
	.form-group
		.input-group.date#divFirstRentDueOn
			input(name='ctl00$MainContent$FirstRentDueOn', value='', type='text', data-bv-field="ctl00$MainContent$FirstRentDueOn").rp__input#MainContent_FirstRentDueOn
			span.add-on.tenants__block_left_item-calendar
				i.input-group-addon
					svg.my_svg.icon_calendar(role='img')
						use(xlink:href='assets/img/sprite.svg#calendar')
	br
	.form-group.has-feedback.has-error
		span Weekly Rent
		input.rp__input(type='text', value='100.0000')
		i.form-control-feedback.bv-no-label.fa(data-bv-icon-for='ctl00$MainContent$RentCost', style='display: block;')
		small.help-block(data-bv-validator='notEmpty', data-bv-for='ctl00$MainContent$RentCost', data-bv-result='INVALID', style='display: block;') Please enter a valid Frequency
	br
	br
	input(type="text", placeholder="Help text").rp__input.rp__input_secure
	br
	br
	input(type="text", placeholder="Search").rp__input.rp__input_search
	br
	.checkbox-cust_list
		label
			span.checkbox
				input#MainContent_RefundedIfNotAccepted(type='checkbox', name='ctl00$MainContent$RefundedIfNotAccepted')
			span.checkbox-custom-l
	.checkbox-cust_list.checked
		label
			span.checkbox
				input#MainContent_RefundedIfNotAccepted(type='checkbox', name='ctl00$MainContent$RefundedIfNotAccepted')
			span.checkbox-custom-l
	.radio-b
		label
			span.radio
				input#MainContent_FixidTermContractExpiringOn(type='radio', name='ctl00$MainContent$Month2Month', value='FixidTermContractExpiringOn', onclick='FixedTermContractExpiringOn(true);')
				label(for='MainContent_FixidTermContractExpiringOn') Fixid Term Contract Expiring On:
			span.radio-custom
	.radio-b.checked
		label
			span.radio
				input#MainContent_FixidTermContractExpiringOn(type='radio', name='ctl00$MainContent$Month2Month', value='FixidTermContractExpiringOn', onclick='FixedTermContractExpiringOn(true);')
				label(for='MainContent_FixidTermContractExpiringOn') Fixid Term Contract Expiring On:
			span.radio-custom
	br
	br
	.form-group.number
		.inp_minus
		input#MainContent_BedroomsNumber.rp__input.rp__input_count(name='ctl00$MainContent$BedroomsNumber', value='0', type='text', size='5', data-bv-field='ctl00$MainContent$BedroomsNumber')
		.inp_plus
	br
	br
	ul.add-menu.tenant__form_nav
		li.margsumm.add-menu.tenant__form_nav_item.active.empty_line
			a.adr-menu.add-menu.tenant__form_nav_item-link.step1(href='javascript:void(0);', onclick='garland.showStep(1)')
				| General Info
		li.margsumm.add-menu.tenant__form_nav_item.active
			a.adr-menu.add-menu.tenant__form_nav_item-link.step2.current-step(href='javascript:void(0);', onclick='garland.showStep(2)')
				| Features
		li.margsumm.add-menu.tenant__form_nav_item
			a.adr-menu.add-menu.tenant__form_nav_item-link.step3(href='javascript:void(0);', onclick='garland.showStep(3)')
				| Rental Terms
		li.margsumm.add-menu.tenant__form_nav_item
			a.adr-menu.add-menu.tenant__form_nav_item-link.step4(href='javascript:void(0);', onclick='garland.showStep(4)')
				| Media
		li.margsumm.add-menu.tenant__form_nav_item
			a.adr-menu.add-menu.tenant__form_nav_item-link.step5(href='javascript:void(0);', onclick='garland.showStep(5)')
				| Channels
		li.margsumm.add-menu.tenant__form_nav_item
			a.adr-menu.add-menu.tenant__form_nav_item-link.step6(href='javascript:void(0);', onclick='garland.showStep(6)')
				| Review
	br
	br
	ul.personal__menu-list
		li.personal__menu-list_item.active(data-class='first')
			a.personal__menu-list_item-link(href='#') Requests
		li.personal__menu-list_item(data-class='second')
			a.personal__menu-list_item-link(href='#') Current Jobs
		li.personal__menu-list_item(data-class='third')
			a.personal__menu-list_item-link(href='#') Completed Jobs 
		li.personal__menu-list_item(data-class='fourth')
			a.personal__menu-list_item-link(href='#') Vendors
	ul.personal__block-list
		li.personal__block-list_item.personal__block-list_item-first.active
		li.personal__block-list_item.personal__block-list_item-second
		li.personal__block-list_item.personal__block-list_item-third
		li.personal__block-list_item.personal__block-list_item-fourth
	br
	br
	div(style="overflow: hidden;")
		ul.invoices_history_list
			li.invoices_history_list_item.invoices_history_list_item-paid
				a(href="#").invoices_history_list_item_link
					.invoices_history_list_item_link-sum
						| $2,000.00
					.invoices_history_list_item_link-date
						| 5 Jan 2017
					.invoices_history_list_item_link-prep
			li.invoices_history_list_item.invoices_history_list_item-next_sub_prepaid.arrow
				a(href="#").invoices_history_list_item_link
					.invoices_history_list_item_link-sum
						| $2,000.00
					.invoices_history_list_item_link-date
						| 5 Jan 2017
					.invoices_history_list_item_link-prep
						| $100&nbsp;PREPAID
						p Next Payment Due
			li.invoices_history_list_item.invoices_history_list_item-arrears.arrow
				a(href="#").invoices_history_list_item_link
					.invoices_history_list_item_link-sum
						| $2,000.00
					.invoices_history_list_item_link-date
						| 5 Jan 2017
					.invoices_history_list_item_link-prep
						| arrears
						p Next Payment Due
			li.invoices_history_list_item.invoices_history_list_item-pending.arrow
				a(href="#").invoices_history_list_item_link
					.invoices_history_list_item_link-sum
						| $2,000.00
					.invoices_history_list_item_link-date
						| 5 Jan 2017
					.invoices_history_list_item_link-prep
						p Next Payment Due
			li.invoices_history_list_item.invoices_history_list_item-pending-arrears.arrow
				a(href="#").invoices_history_list_item_link
					.invoices_history_list_item_link-sum
						| $2,000.00
					.invoices_history_list_item_link-date
						| 5 Jan 2017
					.invoices_history_list_item_link-prep
						| test
						p test
			li.invoices_history_list_item.invoices_history_list_item-next
				a(href="#").invoices_history_list_item_link
					.invoices_history_list_item_link-sum
						| $2,000.00
					.invoices_history_list_item_link-date
						| 5 Jan 2017
					.invoices_history_list_item_link-prep

			li.invoices_history_list_item.invoices_history_list_item-next_prepaid.arrow
				a(href="#").invoices_history_list_item_link
					.invoices_history_list_item_link-sum
						| $2,000.00
					.invoices_history_list_item_link-date
						| 5 Jan 2017
					.invoices_history_list_item_link-prep
						| PREPAID
					.invoices_history_list_item_link-details
						table.invoices_history_list_item_link-details_table
							thead
								tr
									td Rent: 
									td $400.00
								tr
									td(colspan="2") For period 17.08.2016 - 21.08.2016
							tbody
								tr
									td Total:
									td $500.00
								tr
									td Paid: 
									td $500.00
								tr
									td Processing:
									td $1,000.00
								tr
									td(colspan="2") Total processing $3,000.00 
								tr
									td Balance:
									td $0.00
			li.invoices_history_list_item.invoices_history_list_item-sub_arrears.arrow
				a(href="#").invoices_history_list_item_link
					.invoices_history_list_item_link-sum
						| $2,000.00
					.invoices_history_list_item_link-date
						| 5 Jan 2017
					.invoices_history_list_item_link-prep
						| $1,900 in arrears
			
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
	div(style="overflow: hidden;")
		ul.invoices_history_list_vertical.invoices_history_list
			li.invoices_history_list_item.invoices_history_list_item-paid
				a(href="#").invoices_history_list_item_link
					.invoices_history_list_item_link-sum
						| $2,000.00
					.invoices_history_list_item_link-date
						| 5 Jan 2017
					.invoices_history_list_item_link-prep
			li.invoices_history_list_item.invoices_history_list_item-next_sub_prepaid.arrow
				a(href="#").invoices_history_list_item_link
					.invoices_history_list_item_link-sum
						| $2,000.00
					.invoices_history_list_item_link-date
						| 5 Jan 2017
					.invoices_history_list_item_link-prep
						| $100&nbsp;PREPAID
						p Next Payment Due
			//li.invoices_history_list_item.invoices_history_list_item-arrears.arrow
				a(href="#").invoices_history_list_item_link
					.invoices_history_list_item_link-sum
						| $2,000.00
					.invoices_history_list_item_link-date
						| 5 Jan 2017
					.invoices_history_list_item_link-prep
						| arrears
						p Next Payment Due
			//li.invoices_history_list_item.invoices_history_list_item-pending.arrow
				a(href="#").invoices_history_list_item_link
					.invoices_history_list_item_link-sum
						| $2,000.00
					.invoices_history_list_item_link-date
						| 5 Jan 2017
					.invoices_history_list_item_link-prep
						p Next Payment Due
			//li.invoices_history_list_item.invoices_history_list_item-pending-arrears.arrow
				a(href="#").invoices_history_list_item_link
					.invoices_history_list_item_link-sum
						| $2,000.00
					.invoices_history_list_item_link-date
						| 5 Jan 2017
					.invoices_history_list_item_link-prep
						| test
						p test
			//li.invoices_history_list_item.invoices_history_list_item-next
				a(href="#").invoices_history_list_item_link
					.invoices_history_list_item_link-sum
						| $2,000.00
					.invoices_history_list_item_link-date
						| 5 Jan 2017
					.invoices_history_list_item_link-prep

			li.invoices_history_list_item.invoices_history_list_item-next_prepaid.arrow
				a(href="#").invoices_history_list_item_link
					.invoices_history_list_item_link-sum
						| $2,000.00
					.invoices_history_list_item_link-date
						| 5 Jan 2017
					.invoices_history_list_item_link-prep
						| PREPAID
						p Next Payment Due
					.invoices_history_list_item_link-details
						table.invoices_history_list_item_link-details_table
							thead
								tr
									td Rent: 
									td $400.00
								tr
									td(colspan="2") For period 17.08.2016 - 21.08.2016
							tbody
								tr
									td Total:
									td $500.00
								tr
									td Paid: 
									td $500.00
								tr
									td Processing:
									td $1,000.00
								tr
									td(colspan="2") Total processing $3,000.00 
								tr
									td Balance:
									td $0.00
			li.invoices_history_list_item.invoices_history_list_item-sub_arrears.arrow
				a(href="#").invoices_history_list_item_link
					.invoices_history_list_item_link-sum
						| $2,000.00
					.invoices_history_list_item_link-date
						| 5 Jan 2017
					.invoices_history_list_item_link-prep
						| $1,900 in arrears
						p Next Payment Due
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
	.rp__show_more
		| ...
		ul.show_more-small_menu
			li.show_more-small_menu-item
				i.show_more-small_menu-item-gear_sm
					+use("gear")
				a(href="#")
					| Settings
			li.show_more-small_menu-item
				i.show_more-small_menu-item-edit_sm
					+use("edit_sm")
				a(href="#")
					| Edit
			li.show_more-small_menu-item
				i.show_more-small_menu-item-delete_sm
					+use("delete_sm")
				a(href="#")
					| Delete
	br
	br
	<img class="avatar" src="assets/img/avatar.png" alt="avatar">
	br
	br
	.add_avatar_block
		img(src='')
	br
	br
	.avatar_block
		| JD


script.
	$(function () {
	$('#divFirstRentDueOn').datetimepicker({
	format: "MM/DD/YYYY"
	});
	});


//.my_class(style="width: 25%;position: relative; margin: 100px auto;")
	canvas#double_doughnut_chart
	#js-legend.chart-legend
//.my_class(style="width: 25%;position: relative; margin: 50px auto;")
	canvas#doughnut_chart
	#js-legend.chart-legend
//.my_class(style="width: 100%;")
	canvas#bar_chart

//.rp__pop-up_inner
	.rp__pop-up
		p.rp__pop-up_head
			+use("photo-frame")
			| Karangahape Road
		.rp__pop-up_middle.rp__pop-up_middle_gallery
			#large.pr_large_img
				img#MainContent_MainImage(src='assets/img/items/item_1.jpg', style='display: inline;')
			ul#MainContent_ulThumbnail.thumbnail
				li
					a(href='assets/img/items/item_1.jpg')
						img(src='assets/img/items/item_1.jpg')
				li
					a(href='assets/img/items/item_2.jpg')
						img(src='assets/img/items/item_2.jpg')
				li
					a(href='assets/img/items/item_3.jpg')
						img(src='assets/img/items/item_3.jpg')
				li
					a(href='assets/img/items/item_1.jpg')
						img(src='assets/img/items/item_1.jpg')
				li
					a(href='assets/img/items/item_1.jpg')
						img(src='assets/img/items/item_1.jpg')
				li
					a(href='assets/img/items/item_2.jpg')
						img(src='assets/img/items/item_2.jpg')
				li
					a(href='assets/img/items/item_3.jpg')
						img(src='assets/img/items/item_3.jpg')
				li
					a(href='assets/img/items/item_1.jpg')
						img(src='assets/img/items/item_1.jpg')
		a(href="#").rp__pop-up_close
			i.rp__pop-up_close_icon
				+use("close")
			|close

//script(type='text/javascript').
	$(document).ready(function(){
	var block = $("#MainContent_ulThumbnail");
	var heightBlock = $("#large img");
	function resizeScreen(resizeBlock, heightBlock){
	block.height(function(){
	return heightBlock.height();
	});
	};
	resizeScreen(block, heightBlock);
	$(window).resize(function(){
	resizeScreen(block, heightBlock);
	});
	$("#MainContent_ulThumbnail li a").click(function(){
	$("#large img").hide().attr({"src": $(this).attr("href"), "title": $("> img", this).attr("title")});
	$("#large h2").html($("> img", this).attr("title"));
	return false;
	});
	$("#large>img").load(function(){$("#large>img:hidden").fadeIn("slow")});
	$("input[placeholder]").each(function () {
	//$(this).parent().prepend("<label for=\\"" + $(this).attr("id") + "\">" + $(this).attr("placeholder") + "</label>");
	//$(this).removeAttr("placeholder");
	if ($(this).val() == "") {
	$(this).parent().removeClass("active inactive").addClass("inactive");
	} else {
	$(this).parent().removeClass("active inactive").addClass("active");
	}
	$(this).focus(function () {
	$(this).parent().removeClass("active inactive").addClass("active");
	});
	$(this).blur(function () {
	if ($(this).val() == "") {
	$(this).parent().removeClass("active inactive").addClass("inactive");
	} else {
	$(this).parent().removeClass("active inactive").addClass("active");
	}
	});
	});
	});


