ul.payments_history_list
	li.payments_history_list_item
		a(href="#").payments_history_list_item_link
	li.payments_history_list_item.payments_history_list_item-ok
		a(href="#").payments_history_list_item_link
			.payments_history_list_item_link-sum
				| $2,000.00
			.payments_history_list_item_link-date
				| 5 Jan 2017
	li.payments_history_list_item.payments_history_list_item-full_prepaid
		a(href="#").payments_history_list_item_link
			.payments_history_list_item_link-sum
				| $2,000.00
			.payments_history_list_item_link-date
				| 5 Jan 2017
			.payments_history_list_item_link-prep
				| PREPAID
	li.payments_history_list_item.payments_history_list_item-prepaid
		a(href="#").payments_history_list_item_link
			.payments_history_list_item_link-sum
				| $2,000.00
			.payments_history_list_item_link-date
				| 5 Jan 2017
			.payments_history_list_item_link-prep
				| $100&nbsp;PREPAID
	li.payments_history_list_item.payments_history_list_item-next
		a(href="#").payments_history_list_item_link
			.payments_history_list_item_link-sum
				| $2,000.00
			.payments_history_list_item_link-date
				| 5 Jan 2017
			.payments_history_list_item_link-prep
	li.payments_history_list_item.payments_history_list_item-future
		a(href="#").payments_history_list_item_link
			.payments_history_list_item_link-sum
				| $2,000.00
			.payments_history_list_item_link-date
				| 5 Jan 2017
	li.payments_history_list_item.payments_history_list_item-sub_arrears
		a(href="#").payments_history_list_item_link
			.payments_history_list_item_link-sum
				| $2,000.00
			.payments_history_list_item_link-date
				| 5 Jan 2017
			.payments_history_list_item_link-prep
				| $100&nbsp;PREPAID
				span arrears
	li.payments_history_list_item.payments_history_list_item-arrears
		a(href="#").payments_history_list_item_link
			.payments_history_list_item_link-sum
				| $2,000.00
			.payments_history_list_item_link-date
				| 5 Jan 2017
			.payments_history_list_item_link-prep
				span arrears
	li.payments_history_list_item
		a(href="#").payments_history_list_item_link