.prop__menu
	a(href="#", title="").create-property__back_url.prop__menu_item-link 
		i.left__arrow.prop__menu_item-link_icon 
			+use("left-arrow")
		| Back To All Properties
h1 Create A Property
a(href="#").create-property__cancel
	| cancel
.create-property__block
	.create-property__block_middle
		.create-property__block_middle-left
			.create-property__block_middle-left_icon
				i.create-property__block_middle-left_icon-upload
					+use("upload")
				ul#ulImglist.photo-block
					li.img-block(name='image01.jpg', size='529692')
						button.img-delete(onclick="RemoveFileFromList('image01.jpg',529692)")
						canvas#img-id-8.img-photo-block
						.main-picture-block
							a.main-picture-link(href='#', data-name='image01.jpg') Add to main
					li.img-block(name='image02.jpg', size='357660')
						button.img-delete(onclick="RemoveFileFromList('image02.jpg',357660)")
						canvas#img-id-9.img-photo-block
						.main-picture-block
							a.main-picture-link(href='#', data-name='image02.jpg') Add to main
					li.img-block(name='image03.jpg', size='321367')
						button.img-delete(onclick="RemoveFileFromList('image03.jpg',321367)")
						canvas#img-id-10.img-photo-block
						.main-picture-block
							a.main-picture-link(href='#', data-name='image03.jpg') Add to main
					li.img-block(name='image04.jpg', size='310997')
						button.img-delete(onclick="RemoveFileFromList('image04.jpg',310997)")
						canvas#img-id-11.img-photo-block
						.main-picture-block
					li.img-block(name='image01.jpg', size='529692')
						button.img-delete(onclick="RemoveFileFromList('image01.jpg',529692)")
						canvas#img-id-8.img-photo-block
						.main-picture-block
							a.main-picture-link(href='#', data-name='image01.jpg') Add to main
					li.img-block(name='image02.jpg', size='357660')
						button.img-delete(onclick="RemoveFileFromList('image02.jpg',357660)")
						canvas#img-id-9.img-photo-block
						.main-picture-block
							a.main-picture-link(href='#', data-name='image02.jpg') Add to main
					li.img-block(name='image03.jpg', size='321367')
						button.img-delete(onclick="RemoveFileFromList('image03.jpg',321367)")
						canvas#img-id-10.img-photo-block
						.main-picture-block
							a.main-picture-link(href='#', data-name='image03.jpg') Add to main
					li.img-block(name='image04.jpg', size='310997')
						button.img-delete(onclick="RemoveFileFromList('image04.jpg',310997)")
						canvas#img-id-11.img-photo-block
						.main-picture-block
					li.img-block(name='image01.jpg', size='529692')
						button.img-delete(onclick="RemoveFileFromList('image01.jpg',529692)")
						canvas#img-id-8.img-photo-block
						.main-picture-block
							a.main-picture-link(href='#', data-name='image01.jpg') Add to main
					li.img-block(name='image02.jpg', size='357660')
						button.img-delete(onclick="RemoveFileFromList('image02.jpg',357660)")
						canvas#img-id-9.img-photo-block
						.main-picture-block
							a.main-picture-link(href='#', data-name='image02.jpg') Add to main
					li.img-block(name='image03.jpg', size='321367')
						button.img-delete(onclick="RemoveFileFromList('image03.jpg',321367)")
						canvas#img-id-10.img-photo-block
						.main-picture-block
							a.main-picture-link(href='#', data-name='image03.jpg') Add to main
					li.img-block(name='image04.jpg', size='310997')
						button.img-delete(onclick="RemoveFileFromList('image04.jpg',310997)")
						canvas#img-id-11.img-photo-block
						.main-picture-block
			.limit-img.limit-img-error
				i.i-lim
				p.mess-limit-img Selected Photos exceed the limit of 10 mb!
			.limit-img.limit-count-error
				p.mess-limit-img
					span.starrequired *
					|  Not more than 30 pictures
			a.main-picture-link(href='#', data-name='image04.jpg') Add to maink
			a.create-property__block_middle-left_link-upload
				| UPLoad images
			p.create-property__block_middle-left_instruction
				| You can drag and drop images above.
			p.create-property__block_middle-left_info
				| Max image size is 10MB per image .jpg .png and gif allowed.
		.create-property__block_middle-right
			.create-property__block_middle-right_form
				.create-property__block_middle-right_form-block
					.create-property__block_middle-right_form-block-item
						| Unit/Apartment No
						input(name='', type='text', value='').create-property__block_middle-right_form-block-item_input
					.create-property__block_middle-right_form-block-item
						| Street Number
						input(name='', type='text', value='').create-property__block_middle-right_form-block-item_input
				.create-property__block_middle-right_form-block
					.create-property__block_middle-right_form-block-item
						| Street Name
						input(name='', type='text', value='').create-property__block_middle-right_form-block-item_input
				.create-property__block_middle-right_form-block
					.create-property__block_middle-right_form-block-item
						| Suburb
						input(name='', type='text', value='').create-property__block_middle-right_form-block-item_input
				.create-property__block_middle-right_form-block
					.create-property__block_middle-right_form-block-item
						| Postcode
						input(name='', type='text', value='').create-property__block_middle-right_form-block-item_input
					.create-property__block_middle-right_form-block-item.rp__select
						| State
						select.create-property__block_middle-right_form-block-item_select.selectpicker.form-control
							option(value='1') New South Wales
							option(value='2') Australian Capital Territory
							option(value='3') Victoria
							option(value='4') Queensland
	.create-property__block_footer
		a.create-property__block_footer-create_link
			| Create a property
		i.create-property__block_footer-icon
			+use("idea")
		p.create-property__block_footer-txt
			| If you have multiple properties, you can add them all at once.
		a(href="#", title="click here").create-property__block_footer-link
			| Click Here