.prop__menu_block
	ul.prop__menu
		li.prop__menu_item
			a(href="#").prop__menu_item-link
				i.prop__menu_item-link_icon
					+use("calendar")
				.prop__menu_item-link_name
					| Select Dates
		li.prop__menu_item
			a(href="#").prop__menu_item-link
				i.prop__menu_item-link_icon
					+use("view_all")
				.prop__menu_item-link_name
					| View All
		li.prop__menu_item
			a(href="#").prop__menu_item-link
				i.prop__menu_item-link_icon
					+use("search")
				.prop__menu_item-link_name
					| Search
.tenant-chat
	.tenant-chat_left.tenant-chat_left_landlord
		.tenant-chat_left_block
			.tenant-chat_left_block_search
				.tenant-chat_left_block_search_header
					ul.personal__menu-list
						li.personal__menu-list_item.active(data-class='first')
							a.personal__menu-list_item-link(href='#') Current Tenants       
						li.personal__menu-list_item(data-class='second')
							a.personal__menu-list_item-link(href='#') Previous Tenants
				.tenant-chat_left_block_search_middle
					ul.personal__block-list
						li.personal__block-list_item.personal__block-list_item-first.active
							.tenant-chat_left_block_search_middle_result
								.tenant-chat_left_block_search_middle_image
									| el
								.tenant-chat_left_block_search_middle_name
									| Egor Landovich
									sup 99+
								.tenant-chat_left_block_search_middle_address
									| 11 Main Street, Hamilton
								.tenant-chat_left_block_search_middle_date
									| 18:00 on 28 March 2016
							.tenant-chat_left_block_search_middle_result.active
								.tenant-chat_left_block_search_middle_image
									img(src="https://pp.userapi.com/c406423/v406423680/2882/0BaT1DBqt0U.jpg")
								.tenant-chat_left_block_search_middle_name
									| Egor Landovich
									sup 99+
								.tenant-chat_left_block_search_middle_address
									| 11 Main Street, Hamilton
								.tenant-chat_left_block_search_middle_date
									| 18:00 on 28 March 2016
						li.personal__block-list_item.personal__block-list_item-second
							.tenant-chat_left_block_search_middle_result
								.tenant-chat_left_block_search_middle_image
									img(src="https://pp.userapi.com/c406423/v406423680/2882/0BaT1DBqt0U.jpg")
								.tenant-chat_left_block_search_middle_name
									| Egor Landovich
									sup 9
								.tenant-chat_left_block_search_middle_address
									| 11 Main Street, Hamilton
								.tenant-chat_left_block_search_middle_date
									| 18:00 on 28 March 2016
							.tenant-chat_left_block_search_middle_result
								.tenant-chat_left_block_search_middle_image
									img(src="https://pp.userapi.com/c406423/v406423680/2882/0BaT1DBqt0U.jpg")
								.tenant-chat_left_block_search_middle_name
									| Egor Landovich
									sup 1
								.tenant-chat_left_block_search_middle_address
									| 11 Main Street, Hamilton
								.tenant-chat_left_block_search_middle_date
									| 18:00 on 28 March 2016
			
	.tenant-chat_middle
		.tenant-chat_left_block_chat-inner
			.tenant-chat_left_block_chat-inner_header
			.tenant-chat_left_block_chat-inner_middle#divChatHistory
				.tenant-chat_left_block_chat-inner_middle_interlocutor
					| Can I please get a payment extension?
					.aplication_chat_middle_date 30.11.2016    21:00
				.tenant-chat_left_block_chat-inner_middle_autor
					| Sure, I can do until the 2nd Aug, OK!?
					.aplication_chat_middle_date 30.11.2016    21:00
				.tenant-chat_left_block_chat-inner_middle_payment
					i.tenant-chat_left_block_chat-inner_middle_payment_icon
						+use("coins")
					.tenant-chat_left_block_chat-inner_middle_payment_block
						p Doro Persch paid 
							span $2,200.00
						.aplication_chat_middle_date 30.11.2016   21:00
						a(href="#").tenant-chat_left_block_chat-inner_middle_payment_link
							| View Details
				.tenant-chat_left_block_chat-inner_middle_autor
					| Thank’s for the payment)) just in time!
					.aplication_chat_middle_date 30.11.2016    21:00
				.tenant-chat_left_block_chat-inner_middle_maintenance-request
					i.tenant-chat_left_block_chat-inner_middle_maintenance-request_icon
						+use("tools")
					.tenant-chat_left_block_chat-inner_middle_maintenance-request_block
						p Maintenance Request - 
							span Sink Pipes
						.aplication_chat_middle_date 30.11.2016   21:00
						a(href="#").tenant-chat_left_block_chat-inner_middle_maintenance-request_link
							| View Details
				.tenant-chat_left_block_chat-inner_middle_interlocutor
					| I’d like to get this fixed ASAP please.
					.aplication_chat_middle_date 30.11.2016    21:00
				.tenant-chat_left_block_chat-inner_middle_attachment
					.tenant-chat_left_block_chat-inner_middle_attachment_inner
						i.tenant-chat_left_block_chat-inner_middle_attachment_icon
							+use("pdf")
						.tenant-chat_left_block_chat-inner_middle_attachment_block
							p.tenant-chat_left_block_chat-inner_middle_attachment_name
								| Test PDF Attachment
							p.tenant-chat_left_block_chat-inner_middle_attachment_type
								| PDF
						.tenant-chat_left_block_chat-inner_middle_attachment_links
							a(href="#").tenant-chat_left_block_chat-inner_middle_attachment_link
								i.tenant-chat_left_block_chat-inner_middle_attachment_link_icon
									+use("eye")
							a(href="#").tenant-chat_left_block_chat-inner_middle_attachment_link
								i.tenant-chat_left_block_chat-inner_middle_attachment_link_icon
									+use("export")
				.tenant-chat_left_block_chat-inner_middle_attachment
					.tenant-chat_left_block_chat-inner_middle_attachment_inner
						i.tenant-chat_left_block_chat-inner_middle_attachment_icon
							+use("file")
						.tenant-chat_left_block_chat-inner_middle_attachment_block
							p.tenant-chat_left_block_chat-inner_middle_attachment_name
								| File Attachment MP3 RAR VIDEO etc
							p.tenant-chat_left_block_chat-inner_middle_attachment_type
								| File
						.tenant-chat_left_block_chat-inner_middle_attachment_links
							a(href="#").tenant-chat_left_block_chat-inner_middle_attachment_link
								i.tenant-chat_left_block_chat-inner_middle_attachment_link_icon
									+use("eye")
							a(href="#").tenant-chat_left_block_chat-inner_middle_attachment_link
								i.tenant-chat_left_block_chat-inner_middle_attachment_link_icon
									+use("export")
				.tenant-chat_left_block_chat-inner_middle_attachment
					.tenant-chat_left_block_chat-inner_middle_attachment_inner
						i.tenant-chat_left_block_chat-inner_middle_attachment_icon
							+use("png")
						.tenant-chat_left_block_chat-inner_middle_attachment_block
							p.tenant-chat_left_block_chat-inner_middle_attachment_name
								| Image Attachment
							p.tenant-chat_left_block_chat-inner_middle_attachment_type
								| PNG
						.tenant-chat_left_block_chat-inner_middle_attachment_links
							a(href="#").tenant-chat_left_block_chat-inner_middle_attachment_link
								i.tenant-chat_left_block_chat-inner_middle_attachment_link_icon
									+use("eye")
							a(href="#").tenant-chat_left_block_chat-inner_middle_attachment_link
								i.tenant-chat_left_block_chat-inner_middle_attachment_link_icon
									+use("export")
						.tenant-chat_left_block_chat-inner_middle_attachment_image_block
							img(src="/assets/img/items/tenant_chat.png")
			.tenant-chat_left_block_chat-inner_footer
				input(type="text", placeholder="Type your message here...").tenant-chat_left_block_chat-inner_footer_input#messageBody
				a(href="#аттачьми по полной").tenant-chat_left_block_chat-inner_footer_attachment
					+use("attachment")
				a(href="#").tenant-chat_left_block_chat-inner_footer_send#btnSendMessage
					+use("send-message-button")
		.tenant-chat_middle_inner
			.tenant-chat_middle_map
				include ../properties/google_map
			.tenant-chat_middle_address
				| 11 Main Street, Hamiltion
			.tenant-chat_middle_status
				a(href="#").tenant-chat_middle_status_link
					| view lease
				.tenant-chat_middle_status_current
					| Current
			.tenant-chat_middle_tenants
				p.tenant-chat_middle_tenants_title
					| Tenants
					span (4)
				.tenant-chat_middle_tenants_slider.owl-carousel#owl-slider_tenants
					.tenant-chat_middle_tenants_slider_item
						.tenant-chat_middle_tenants_slider_item_img
							img(src="https://pp.userapi.com/c406423/v406423680/2882/0BaT1DBqt0U.jpg")
						| Doro Persch
					.tenant-chat_middle_tenants_slider_item
						.tenant-chat_middle_tenants_slider_item_img
							| DP
						| Doro Persch
					.tenant-chat_middle_tenants_slider_item
						.tenant-chat_middle_tenants_slider_item_img
							img(src="https://pp.userapi.com/c406423/v406423680/2882/0BaT1DBqt0U.jpg")
						| Doro Persch
					.tenant-chat_middle_tenants_slider_item
						.tenant-chat_middle_tenants_slider_item_img
							img(src="https://pp.userapi.com/c406423/v406423680/2882/0BaT1DBqt0U.jpg")
						| Doro Persch
			.tenant-chat_middle_roommates
				p.tenant-chat_middle_roommates_title
					| Roommates
					span (7)
				.tenant-chat_middle_roommates_slider.owl-carousel#owl-slider_roommates
					.tenant-chat_middle_roommates_slider_item
						.tenant-chat_middle_roommates_slider_img
						| Axel Rudi Pell
					.tenant-chat_middle_roommates_slider_item
						.tenant-chat_middle_roommates_slider_img
						| Axel Rudi Pell
					.tenant-chat_middle_roommates_slider_item
						.tenant-chat_middle_roommates_slider_img
						| Axel Rudi Pell
			table.tenant-chat_middle_table
				thead
					tr
						th Latest Payments
						th 
				tbody
					tr
						td 30.11.2016
						td $350.00
					tr
						td 29.11.2016
						td $1.550.00
					tr
						td 28.11.2016
						td $120.00
	.tenant-chat_right
		.tenant-chat_right_links-block
			//asp:linkbutton#btnShowMessageAttachment(runat='server').tenant-chat_right_links-block_link
				i.tenant-chat_right_links-block_link_icon
					+use("")
				span SEND ATTACHMENT
			asp:linkbutton#btnShowMessageTemplate(runat='server').tenant-chat_right_links-block_link
				i.tenant-chat_right_links-block_link_icon
					+use("file")
				span SELECT TEMPLATE
			asp:linkbutton#btnShowMessageSMS(runat='server').tenant-chat_right_links-block_link
				i.tenant-chat_right_links-block_link_icon
					+use("speech-bubble")
				span SEND SMS
			//asp:linkbutton#btnShowEMailMessage(runat='server').tenant-chat_right_links-block_link
				i.tenant-chat_right_links-block_link_icon
					+use("")
				span SEND LETTER BY MAIL
			asp:linkbutton#btnShowMessagePrivateNote(runat='server').tenant-chat_right_links-block_link
				i.tenant-chat_right_links-block_link_icon
					+use("tag")
				span ADD PRIVATE NOTE
			asp:linkbutton#btnShowMessageReminder(runat='server').tenant-chat_right_links-block_link
				i.tenant-chat_right_links-block_link_icon
					+use("ring")
				span ADD REMINDER
			a(href="").tenant-chat_right_links-block_link
				i.tenant-chat_right_links-block_link_icon
					+use("export")
				span PRINT/EXPORT
		.tenant-chat_right_help-block
			i.tenant-chat_right_help-block_icon
				+use("idea")
			.tenant-chat_right_help-block_slider.owl-carousel#owl-slider_help
				.tenant-chat_right_help-block_item
					p.tenant-chat_right_help-block_title
						| Hint & Advice
					p.tenant-chat_right_help-block_preview
						| Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. 
						br
						br
						| Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia
					a(href="#").tenant-chat_right_help-block_link
						| Learn more
				.tenant-chat_right_help-block_item
					p.tenant-chat_right_help-block_title
						| Hint & Advice
					p.tenant-chat_right_help-block_preview
						| Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. 
						br
						br
						| Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia
					a(href="#").tenant-chat_right_help-block_link
						| Learn more
				.tenant-chat_right_help-block_item
					p.tenant-chat_right_help-block_title
						| Hint & Advice
					p.tenant-chat_right_help-block_preview
						| Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. 
						br
						br
						| Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia
					a(href="#").tenant-chat_right_help-block_link
						| Learn more