.reports-finances__inner
	.reports-finances
		.reports-finances_block.reports-finances_block_links
			a(href="#").download_ledger
				| Download ledger
			a(href="#").make_payment
				| make a payment
			span.reports-finances_block_links_text
				i
					+use("money")
				| Your next payment of 
				span 
					| &nbsp;$2,650.00&nbsp;
				| will be deducted from your bank account on 
				span 
					| &nbsp;May 29th.
		.reports-finances_block.reports-finances_block_schedule
			.reports-finances_block_title
				h3 Payments Schedule
			ul.invoices_history_list
				li.invoices_history_list_item
					a(href="#").invoices_history_list_item_link
				li.invoices_history_list_item.invoices_history_list_item-paid.arrow
					a(href="#").invoices_history_list_item_link
						.invoices_history_list_item_link-sum
							| $2,000.00
						.invoices_history_list_item_link-date
							| 5 Jan 2017
						.invoices_history_list_item_link-prep
				li.invoices_history_list_item.invoices_history_list_item-next_prepaid.arrow
					a(href="#").invoices_history_list_item_link
						.invoices_history_list_item_link-sum
							| $2,000.00
						.invoices_history_list_item_link-date
							| 5 Jan 2017
						.invoices_history_list_item_link-prep
							| PREPAID
						.invoices_history_list_item_link-details
							table.invoices_history_list_item_link-details_table
								thead
									tr
										td Rent: 
										td $400.00
									tr
										td(colspan="2") For period 17.08.2016 - 21.08.2016
									tr
										td Invoice:
										td $100.00
									tr
										td(colspan="2") Internet Services
								tbody
									tr
										td Total:
										td $500.00
									tr
										td Paid: 
										td $500.00
									tr
										td Balance:
										td $0.00
				li.invoices_history_list_item.invoices_history_list_item-next_sub_prepaid.arrow
					a(href="#").invoices_history_list_item_link
						.invoices_history_list_item_link-sum
							| $2,000.00
						.invoices_history_list_item_link-date
							| 5 Jan 2017
						.invoices_history_list_item_link-prep
							| $100&nbsp;PREPAID
				li.invoices_history_list_item.invoices_history_list_item-next.arrow
					a(href="#").invoices_history_list_item_link
						.invoices_history_list_item_link-sum
							| $2,000.00
						.invoices_history_list_item_link-date
							| 5 Jan 2017
						.invoices_history_list_item_link-prep
				li.invoices_history_list_item.invoices_history_list_item-sub_arrears.arrow
					a(href="#").invoices_history_list_item_link
						.invoices_history_list_item_link-sum
							| $2,000.00
						.invoices_history_list_item_link-date
							| 5 Jan 2017
						.invoices_history_list_item_link-prep
							//| $100&nbsp;PREPAID
							span $1,900 in arrears
				li.invoices_history_list_item.invoices_history_list_item-arrears.arrow
					a(href="#").invoices_history_list_item_link
						.invoices_history_list_item_link-sum
							| $2,000.00
						.invoices_history_list_item_link-date
							| 5 Jan 2017
						.invoices_history_list_item_link-prep
							span arrears
				li.invoices_history_list_item
					a(href="#").invoices_history_list_item_link
		.reports-finances_block.reports-finances_block_advice
			.reports-finances_block_middle
				p
					span.reports-finances_block_advice_title
						| Hint 
						br
						| &
						br
						|Advice
					span.reports-finances_block_advice_text
						| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
						br
						br
						| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen 
		.reports-finances_block.reports-finances_block_chart
			.reports-finances_block_title
				h3 Paid In The Last 12 Months
			.reports-finances_block_middle.reports-finances_block_middle_chart
				canvas#doughnut_chart
				#js-legend.chart-legend
		.reports-finances_block.reports-finances_block_rate
			.reports-finances_block_title
				h3 Arrears Rate
			.reports-finances_block_middle
				.reports-finances_block_middle_rate
					i.reports-finances_block_middle_rate_icon
						+use("calendar-ok")
					.reports-finances_block_middle_rate_title
						| Your payments are always on time!
				//.reports-finances_block_middle_rate
					i.reports-finances_block_middle_rate_icon
						+use("passage-of-time")
					.reports-finances_block_middle_rate_number
						| 4
					.reports-finances_block_middle_rate_info
						|  of the last 32 payments were late 
			//.reports-finances_block_footer
				.reports-finances_block_footer_title Latest Arrears
				ul.reports-finances_block_footer_list-latest-arrears
					li.reports-finances_block_footer_list-latest-arrears_item
						.reports-finances_block_footer_list-latest-arrears_item_date
							i.reports-finances_block_footer_list-latest-arrears_item_date_icon
								+use("arrow_down")
							| 17 March 2015
						.reports-finances_block_footer_list-latest-arrears_item_price $344.00
						.reports-finances_block_footer_list-latest-arrears_item_days-late 4 days late
					li.reports-finances_block_footer_list-latest-arrears_item
						.reports-finances_block_footer_list-latest-arrears_item_date
							i.reports-finances_block_footer_list-latest-arrears_item_date_icon
								+use("arrow_down")
							| 17 March 2015
						.reports-finances_block_footer_list-latest-arrears_item_price $344.00
						.reports-finances_block_footer_list-latest-arrears_item_days-late 4 days late
					li.reports-finances_block_footer_list-latest-arrears_item
						.reports-finances_block_footer_list-latest-arrears_item_date
							i.reports-finances_block_footer_list-latest-arrears_item_date_icon
								+use("arrow_down")
							| 17 March 2015
						.reports-finances_block_footer_list-latest-arrears_item_price $344.00
						.reports-finances_block_footer_list-latest-arrears_item_days-late 4 days late
					li.reports-finances_block_footer_list-latest-arrears_item
						.reports-finances_block_footer_list-latest-arrears_item_date
							i.reports-finances_block_footer_list-latest-arrears_item_date_icon
								+use("arrow_down")
							| 17 March 2015
						.reports-finances_block_footer_list-latest-arrears_item_price $344.00
						.reports-finances_block_footer_list-latest-arrears_item_days-late 4 days late
		.reports-finances_block.reports-finances_block_table
			.reports-finances_block_title
				h3 Latest Invoices
			.reports-finances_block_middle
				table.reports-finances_block_middle_table
					thead
						tr
							th Date
							th invoice
							th amount
							th Status
					tbody
						tr
							td Sep 9,2016
							td Internet Services
							td $350.00
							td
								span.status__paid
									| PAID
						tr
							td Sep 9,2016
							td Rent
							td $1.350.00
							td
								span.status__partially-paid
									| PARTIALLY PAID
						tr
							td Sep 9,2016
							td Maintenance
							td $150.00
							td
								span.status__due-on
									| Due on 1 Mar 17
						tr
							td Sep 9,2016
							td Other Services
							td $50.00
							td
								span.status__overdue
									| OVERDUE
		.reports-finances_block.reports-finances_block_table
			.reports-finances_block_title
				h3 Recurring Invoices
					span (7)
			.reports-finances_block_middle
				table.reports-finances_block_middle_table
					thead
						tr
							th invoice
							th amount
							th frequency
					tbody
						tr
							td Internet Services
							td $350.00
							td Daily
						tr
							td Rent
							td $50.00
							td Daily
						tr
							td Maintenance
							td $1.350.00
							td Weekly
						tr
							td Other Services
							td $150.00
							td Daily
		.reports-finances_block.reports-finances_block_table
			.reports-finances_block_title
				h3 Latest Payments
			.reports-finances_block_middle
				table.reports-finances_block_middle_table
					thead
						tr
							th Data received
							th amount
					tbody
						tr
							td Sep 9,2016
							td $350.00
						tr
							td Sep 9,2016
							td $1.550.00
						tr
							td Sep 9,2016
							td $120.00
						tr
							td Sep 9,2016
							td $40.00