#divTenantStep5.tenants__block
	.tenants__block_head
		i.tenants__block_head_icon
			+use('flag')
		h5.tenants__block_head_title Summary
	.col-lg-8.col-xs-8.summary-add.row
		.col-lg-6.col-xs-6.summ-add
			h5.conf-your Confirm your lease setup and invite your tenants.
			p.everything
				| Everything look correct? Clicking “confirm” will send your lease terms to the tenants. They can also sign up using the email you entered.
		.col-lg-6.col-xs-6.summ-add
			h6.your-tenants Your Tenants will need to:
			ul.ten-will
				li.ten-will-need
					span.ten-will-text Сreate an account
				li.ten-will-need
					span.ten-will-text Set up their payments
				li.ten-will-need
					span.ten-will-text Add their bank accounts
				li.ten-will-need
					span.ten-will-text Verify bank accounts (can take 2-3 business days)
		h6.addit Additional Notes/Details
		textarea.addit-textarea
	.col-lg-6.col-xs-6.steps
		.step-tenant
			| Tenants
			a.edit(href='')
		p#pFullName.step-tenant-name
		p#pEmail.step-tenant-e-mail johhnyboy@gmail.com
	.col-lg-6.col-xs-6.steps
		.step-rent
			| Rent
			a.edit(href='')
		p.step-rent-summ
			| $
			label#lblRentCostSumm
				| /
				label#lblFrequency
	.col-lg-6.col-xs-6.steps
		.step-tenant
			| Bonds & Pets
			a.edit(href='')
		.col-lg-2.col-xs-3.bond-summ
			p.step-bond Bond
			p.step-bond-summ
				| $
				label#lblBondCost
		.col-lg-2.col-xs-3.pets-summ
			p.step-bond Pets
			ul#petsSumary.step-bond-summ No pets
	.col-lg-6.col-xs-6.steps
		.step-rent
			| Utilities
			a.edit(href='')
		.utilities-step.row
			.col-lg-3.col-xs-4.uti-step
				.electr-icon-step
				p#pElectrUtils Tenant pays
			.col-lg-3.col-xs-4.uti-step
				.water-icon-step
				p#pWaterUtils Landlord pays
			.col-lg-3.col-xs-4.uti-step
				.internet-icon-step
				p#pInternetUtils Tenant pays
			.col-lg-3.col-xs-4.uti-step
				.gas-icon-step
				p#pGasUtils Tenant pays
			.col-lg-3.col-xs-4.uti-step
				.phone-icon-step
				p#pPhoneUtils Landlord pays
			.col-lg-3.col-xs-4.uti-step
				.TV-icon-step
				p#pTvUtils Tenant pays