table
	tbody
		tr
			td TENANT
			td Jogan Hegginston
			td John Doe
			td Alisa Smith
			td Oksana Lewis
			td Emma Stone
		tr
			td ADDRESS
			td 1373 Akisoba St., Alison Awenue, GLT 33
			td 17 Karaganhope St. LFF 17
			td 222 Manson Square, Elyosionoma Capital, QTN 90210
			td 82/21 Katartal Street Nominal QLD 1221
			td Madisson Garden, F10 4422
		tr
			td Employment
			td Coca-Cola Company Web-Designer 8 800 222-33-22
			td Blacksmith’s Blacksmith 8 800 222-33-22
			td Alisa Pharm CEO 8 800 222-33-22
			td Alphure Manager 8 800 222-33-22
			td Holy Hospital Doctor 8 800 222-33-22
		tr
			td INCOME
			td Monthly: $2,500.00
			td Monthly: $1,550.00
			td Monthly: $2,550.00
			td Monthly: $1,550.00
			td Monthly: $6,550.00
		tr
			td Pets
			td Hamster: Bob
			td 
				| Cat: Mouser
				| Dog: Flappy
				| Dog: Hanzo
			td -
			td -
			td
				| Cat: Markiz
				| Parrot: Diva
				| Hamster: Flux
		tr
			td Tenant contact
			td
				| test@gmail.com
				| Skype: test.skype
				|8 800 222-33-22
			td
				| test@gmail.com
				| Skype: test.skype
				|8 800 222-33-22
			td
				| test@gmail.com
				| Skype: test.skype
				|8 800 222-33-22
			td
				| test@gmail.com
				| Skype: test.skype
				|8 800 222-33-22
			td
				| test@gmail.com
				| Skype: test.skype
				|8 800 222-33-22