.properties__block_list {
	display: flex;
    flex-flow: row wrap;
    padding: 0;
    margin: 0;
    justify-content: flex-start;
}
.properties__block_list-item {
	background-color: #f4f5f9;
	border-radius: 6px;
	padding: 17px;
	margin-right: 20px;
	@include breakpoint(320px) {
		flex: 1 1 auto;
		margin-bottom: 23px;
	}
	@include breakpoint(1170px) {
		width: 463px;
		flex: 0 0 463px;
	}
}
.properties__block_list-item_image {
	position: relative;
	height: 250px;
	border-radius: 6px;
	overflow: hidden;
	& .properties__block_list-item_image-wrapper {
		display: block;
		height: 100%;
		overflow: hidden;
    	position: relative;
	}
	& img {
		//width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}
	& .rp__show_more {
		position: absolute;
		right: 13px;
		bottom: 212px;
		color: #cdcfd7;
		background-color: #fff;
		display: block;
		border-radius: 50%;
		text-align: center;
	    line-height: 0.44;
	    cursor: pointer;
    	width: 26px;
		height: 26px;
		font-size: 26px;
	    &:hover {
	    	background-color: #f4f5f9;
	    	border-radius: 50% 50% 0 0;
	    }
	}
	& .rp__details {
		background-color: #81c75b;
		color: #fff;
		&:hover {
			color: #fff;
			opacity: .9;
		}
		@extend .rp__btn_sm;
	}
}
.properties__block_list-item_image-footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	background-color: rgba(60, 65, 83, 0.7);
	display: flex;
	align-items: center;
	padding-top: 11.5px;
	padding-bottom: 11.5px;
	padding-right: 12px;
	padding-left: 14px;
}
.properties__block_list-item_info {
	position: relative;
	& .properties__block_list-item_info-status_board {
		padding: 11.5px 12px 11.5px 15px;
		border-radius: 6px;
	}
	& a,
	& span {
		flex-grow: 1;
	}
}
.properties__block_list-item_info-status_board-sub {
	margin: 0;
}
.properties__block_list-item_info-address {
	display: flex;
	flex-direction: column;
	width: 66%;
	& .sub__address {
		color: #fff;
	}
	& .main__address {
		font-size: 15.3px;
		display: inline-block;
		color: #fff;
	}
	& .sub__address {
		font-size: 10.52px;
		display: inline-block;
	}
}
.properties__block_list-item_info-status {
	display: flex;
	flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
	height: 150px;
    padding: 7.5px 0;
}
.properties__block_list-item_info-status_board {
	text-transform: uppercase;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: auto;
	width: 100%;
	color: #fff;
	fill: #fff;
	font-size: 12.43px;
	& a {
		display: flex;
		align-items: center;
	}
	&.status__up-to-date {
		background-color: $green-text;
		& .properties__block_list-item_info-status_link a {
			color: $green-text;
		}
	}
	&.status__in-arrears {
		background-color: $red-text;
		& .properties__block_list-item_info-status_link a {
			color: $red-text;
		}
	}
	&.status__acive-listing #active-listing,
	&.status__acive-listing {
		background-color: $logotype-color;
		& .properties__block_list-item_info-status_link a {
			color: $logotype-color;
		}
	}
	&.status__no-acive-listing {
		background-color: #a6bfe4;
		& .properties__block_list-item_info-status_link a {
			color: #a6bfe4;
		}
	}
	&.status__property-vacant {
		background-color: #babcc7;
		& .properties__block_list-item_info-status_link a {
			color: #babcc7;
		}
	}
	& .my_svg {
		width: 20px;
		height: 20px;
	}
}
.properties__block_list-item_info-status_icon {
	margin-right: 10px;
}
.rental_content .properties__block_list-item_info-status_board {
	position: absolute;
    right: 60px;
    top: 34px;
    justify-content: flex-end;
}
.properties__block_list-item_info-status_board div:nth-child(1) {
	margin-left: 28px;
}
.properties__block_list-item_info-status_link {
	text-transform: uppercase;
	font-size: 10.16px;
	font-size: $fourth-font;
	& a {
		border-radius: 6px;
		margin-left: 17px;
		padding: 8px 10px;
		background-color: #fff;
	}
	& .my_svg {
		width: 14px;
		height: 14px;
	}
	& #plus {
		width: 10px;
		height: 10px;
	}
	& .add_tenants {
		color: #fff;
		display: flex;
		align-items: center;
		.properties__block_list-item_info-status_link-icon {
			fill: #fff;
		}
	}
	& .send_reminder {
		color: #fff;
		display: flex;
		align-items: center;
		.properties__block_list-item_info-status_link-icon {
			fill: #fff;
		}
	}
	& .create_listing {
		color: #fff;
		display: flex;
		align-items: center;
		.properties__block_list-item_info-status_link-icon {
			fill: #fff;
		}
	}
	& .applicants_listing {
		color: #fff;
		display: flex;
		align-items: center;
		.properties__block_list-item_info-status_link-icon {
			fill: #fff;
		}
	}
	&:hover {
		text-decoration: none;
		a {
			text-decoration: none;
			opacity: 0.8;
		}
	}
}
.properties__block_list-item_info-status_link-icon {
	margin-right: 7px;
}
.properties__block_list-item_info-lists {
	display: flex;
    flex-flow: row wrap;
    background-color: #fff;
    border-radius: 6px;
}
.properties__block_list-item_info-lists-item {
	position: relative;
	&:nth-child(2n+1) {
		width: 47.5%;
	}
	padding: 15px 13px;
	@include breakpoint(1170px) {
	    &:nth-child(2n+2) {
			flex: 1 1 auto;
		}
	}
	transition: box-shadow 0.3s;
/* 	&:hover .properties__block_list-item_info-lists_link{
		color: #a0a4b4;
		& .my_svg {
			fill: #a0a4b4!important;
		}
	} */
	&.active {
		box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.11);
		&:after {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 80%;
			background-color: #fff;
			width: 100%;
			height: 40px;
			z-index: 9;
		}
		& .arrow__down {
			transform: rotate(180deg);
		}
		& #arrow_down {
			fill: #a0a4b4;
		}
		& .properties__block_list-item_info-lists-item_hover {
			visibility: visible;
		}
	}
	&:nth-child(2n+1) .properties__block_list-item_info-lists-item_hover{
		left: 0;
	}
	&:nth-child(2n+2) .properties__block_list-item_info-lists-item_hover{
		right: 0;
	}
}
.properties__block_list-item_info-lists-item_hover {
	position: absolute;
	visibility: hidden;
	top: 100%;
	z-index: 9;
	background-color: #fff;
	box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.11);
	display: flex;
	width: 425px;
	padding: 25px 30px 27px 23px;
	& i {
		fill: $logotype-color;
		margin-right: 10px;
		& .my_svg {
			width: 15px;
			height: 15px;
		}
	}
}
.tenant__block_information {
	padding-top: 10px;
}
.tenant__avatar {
	border-radius: 50%;
    overflow: hidden;
    margin-right: 50px;
	width: 75px;
	height: 75px;
	flex: 0 0 75px;
	position: relative;
    & img {
    	max-width: 75px;
    	position: absolute;
    	margin: auto;
    	top: 0;
    	bottom: 0;
    	right: 0;
    	left: 0;
    }
}
.tenant__block_information-name {
	font-size: 15px;
}
.tenant__block_information-profession {
	font-family: $fourth-font;
	color: #c1c4d2;
	text-transform: uppercase;
	letter-spacing: 4px;
	padding: 14px 0 16px;
	font-size: 9px;
}
.tenant__block_information-info {
	line-height: 1.7;
	font-size: 8px;
	padding-bottom: 26px;
}
.tenant__block_information-communications {
	display: flex;
	justify-content: flex-start;
	a {
		display: flex;
		align-items: center;
		font-family: $fourth-font;
		color: #000;
		font-size: 10px;
		margin-right: 26px;
	}
}
.properties__block_list-item_info-lists_link {
	color: #9fa2af;
	display: flex;
	align-items: center;
	position: relative;
	font-size: 12.43px;
	font-family: $fourth-font;
	& .my_svg {
		width: 18px;
		height: 18px;
		fill: #d3d5de;
		margin-right: 10px;
	}
	& .arrow__down {
		position: absolute;
		right: 0;
		top: 0;
	}
	& #arrow_down {
		fill: #CCCFD9;
		width: 11px;
		height: 11px;
	}
}
.properties__block_list-item_info-lists_link-block_name {
	padding-bottom: 7px;
}
.rp__show_more:hover {
	& .show_more-small_menu {
		opacity: 1;
		visibility: visible;
	}
	&:after {
		content: '';
		position: relative;
		display: block;
		bottom: 0;
		width: 100%;
		height: 10px;
	}
}
.show_more-small_menu {
	background-color: #fff;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    z-index: 9;
    transition: visibility 0s, opacity 0.3s linear;
	border-radius: 6px 0 6px 6px;
	top: 100%;
    right: 0px;
	& a {
		color: #000;
		font-size: 12.5px;
	}
}
.show_more-small_menu-item {
	display: flex;
	align-items: center;
	transition: background-color 0.3s;
	padding: 12px 22.5px;
	& i {
		fill: #cccfd9;
		margin-right: 10px;
		& .my_svg {
			width: 16px;
			height: 16px;
		}
	}
	&:nth-child(1) {
		border-radius: 6px 6px 0 0;
	}
	&:nth-last-child(1) {
		border-radius: 0 0 6px 6px;
	}
	&:hover {
		background-color: #f3f4f8;
	}
}
.properties__block_list-item_info-footer {
	height: 134px;
}
.properties__block-table_header {
	display: none;
	transition: display 1s;
}

.hint_advice_icon {
	display: block;
	& .my_svg {
		width: 114px;
		height: 114px;
		fill: #e9ebf1;
		margin: 53px auto 45px;
		display: block;
	}
}
.hint_advice_title {
	text-align: center;
	font-size: 18px;
}
.hint_advice_text {
	font-size: 13px;
	color: #888a93;
	margin: 30px 10px; 
}
.hint_advice_link {
	background-color: #81c75b;
	color: #fff;
	&:hover {
		color: #fff;
		opacity: .9;
	}
	@extend .rp__btn_sm;
	width: 102px;
	display: block;
	margin: 0 auto;
}

/*!props*/

/*props-table*/
.properties__block-table {
	box-shadow: 0px 0px 40px -13px rgba(0, 0, 0, 0.5);
	border-radius: 6px;
	overflow: hidden;
	& .hint_advice,
	& .properties__block_list-item_info-lists_link-block_name,
	& .properties__block_list-item_info-status_board-sub,
	& .rp__details,
	& .rp__show_more,
	& i,
	& .my_svg {
		display: none!important;
		visibility: hidden;
	}
	& .properties__block-table_header {
		background-color: #bbbfcd!important;
		margin: 0;
		color: #fff;
		display: block;
		transition: display 1s;
		& div {
			font-family: $fourth-font;
			font-size: 17.12px;
			text-align: center;
			text-transform: capitalize;
		    justify-content: center;
		}
	}
	& .properties__block_list-item {
		width: 100%;
		flex: 1 1 100%;
		margin: 0;
		padding: 20px 15px;
		display: flex;
		&:nth-child(1) {
			& .properties__block_list-item_image-wrapper{
				background-color: transparent!important;
			}
		}
		&:nth-child(2n+1) {
			background-color: #f4f5f9;
			& .properties__block_list-item_image-wrapper{
				background-color: #fff;
			}
		}
    	&:nth-child(2n+2) {
    		& .properties__block_list-item_image-wrapper{
				background-color: #e5e7ee;
			}
    	}
	}
	& .properties__block_list-item_image {
		width: 33%;
		display: flex;
	    align-items: center;
    	height: auto;
	}
	& .properties__block_list-item_image-wrapper {
		width: 45px;
		height: 45px;
		position: relative;
		overflow: hidden;
		border-radius: 5px;
		& img {
			width: 100%;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
		}
	}
	& .properties__block_list-item_image-footer {
		position: relative;
		background-color: inherit;
		text-align: center;
		width: 83%;
		padding: 0 30px 0 15px;
		& .main__address {
			color: #000;
		}
	}
	& .properties__block_list-item_info-address {
		width: 100%;
	}
	& .properties__block_list-item_info {
		display: flex;
		flex: 1 1 auto;
	}
	& .properties__block_list-item_info-status {
		width: 40%;
		height: auto;
		flex-direction: row;
		border: none;
	    justify-content: flex-start;
        align-items: center;
	}
	& .properties__block_list-item_info-status_board {
		width: 50%;
		border: none;
		padding: 0;
		margin: 0;
		text-align: center;
		& > a,
		& span {
			flex: 0 0 100%;
		}
		& .properties__block_list-item_info-status_link {
			flex: 0 0 50%;
		    margin: 0 auto;
		    text-transform: initial;
		}
	}
	& .properties__block_list-item_info-status_link a {
		padding: 0;
		margin: 0 auto;
		background-color: inherit;
		display: block;
	}
	& .properties__block_list-item_info-footer {
		height: auto;
		padding: 0;
		width: 60%;
		display: flex;
		align-items: center;
		padding-left: 30px;
	} 
	& .properties__block_list-item_info-lists {
		flex-wrap: nowrap;
		justify-content: space-between;
		width: 100%;
	}
	& .properties__block_list-item_info-lists-item {
		width: 30%;
		margin: auto;
		padding: 0;
		flex: inherit;
		&:nth-child(1) {
			order: 1;
		}
		&:nth-child(2) {
			order: 3;
		}
		&:nth-child(3) {
			order: 2;
		}
		&:nth-child(4) {
			order: 4;
		}
	}
	& .properties__block_list-item_info-lists_link-block {
		margin: 0 auto;
	}
	& .sub__address {
		padding: 0;
	}
	& .properties__block_list-item_info-lists_link-block_value {
		text-align: center;
	}
	& .applicants_listing,
	& .create_listing,
	& .send_reminder,
	& .add_tenants {
		color: inherit;
		background-color: inherit!important;
		text-decoration: underline;
	}
}
/*!props-table*/