@font-face {
	font-family: 'Montserrat-Regular';
	src: url('/assets/fonts/Montserrat-Regular/Montserrat-Regular.eot');
	src: local('☺'), url('/assets/fonts/Montserrat-Regular/Montserrat-Regular.woff') format('woff'), url('/assets/fonts/Montserrat-Regular/Montserrat-Regular.ttf') format('truetype'), url('/assets/fonts/Montserrat-Regular/Montserrat-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat-Medium';
	src: url('/assets/fonts/Montserrat-Medium/Montserrat-Medium.eot');
	src: local('☺'), url('/assets/fonts/Montserrat-Medium/Montserrat-Medium.woff') format('woff'), url('/assets/fonts/Montserrat-Medium/Montserrat-Medium.ttf') format('truetype'), url('/assets/fonts/Montserrat-Medium/Montserrat-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat-Bold';
	src: url('/assets/fonts/Montserrat-Bold/Montserrat-Bold.eot');
	src: local('☺'), url('/assets/fonts/Montserrat-Bold/Montserrat-Bold.woff') format('woff'), url('/assets/fonts/Montserrat-Bold/Montserrat-Bold.ttf') format('truetype'), url('/assets/fonts/Montserrat-Bold/Montserrat-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'NotoSerif-Regular';
	src: url('/assets/fonts/NotoSerif-Regular/NotoSerif-Regular.eot');
	src: local('☺'), url('/assets/fonts/NotoSerif-Regular/NotoSerif-Regular.woff') format('woff'), url('/assets/fonts/NotoSerif-Regular/NotoSerif-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
/*fonts*/