.header .rp__container{
	display: flex;
	justify-content: space-between;
}
.header__logo {
	width: 235px;
	background-color: $logotype-color;
}
.header__logo_link {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	color: $white-text;
	text-decoration: none;
	height: 64px;
	font-size: 15.05px;
	& img {
		width: 19px;
	}
	& b {
		font-family: $second-font;
	}
	&:hover {
		color: $white-text;
	}
}
.company__name {
	text-transform: uppercase;
	padding-left: 8px;
	letter-spacing: -0.7px;
}
.header__menu {
	flex: 1 1 40vw;
	border-bottom: 1px solid $border-color;
	overflow: hidden;
	padding-left: 53px;
}
.header__menu_block {
	display: flex;
	justify-content: flex-start;
	height: 100%;
	align-items: center;
}
.header__menu_block_item {
	display: flex;
    align-items: center;
    position: relative;
    height: 64px;
	&:nth-last-child(1) {
		margin-right: 0;
	}
	@include breakpoint(320px) {
		margin-right: 2vw;
	}
	@include breakpoint(900px) {
		margin-right: 7vw;
	}
	@include breakpoint(1170px) {
		margin-right: 5vw;
	}
}
.header__menu_block_item-link {
	color: $second-font-color;
	text-decoration: none;
	transition: color 0.3s;
	&:hover,
	&.active {
		color: $primary-font-color;
		&:after {
			content: '';
			display: block;
			bottom: 0;
			position: absolute;
			width: 100%;
			border-bottom: 3px solid $green-element;
		}
	}
	font-size: 14px;
}
.header__user {
	display: flex;
	align-items: center;
	border-bottom: 1px solid $border-color;
	& .header__user_menu_link,
	& .header__user_settings_link{
		font-size: 0;
	}
	& .header__user_login_name {
		text-transform: uppercase;
		color: $profile-font-color;
		font-size: 13px;
	}
	& > div {
		border-left: 1px solid $border-color;
		display: flex;
		align-items: center;
		height: 64px;
	}
}
.header__user_avatar {
	border-radius: 50%;
	overflow: hidden;
	width: 30px;
	height: 30px;
	& img {
		max-width: 30px;
		height: auto;
	}
}
.header__user_login {
	background-color: #888c9b;
	& .header__user_login_name {
		color: #fff; 
	}
}
.header__user_login_link {
	display: flex;
	align-items: center;
	margin: auto 27px;
	& div:nth-child(1) {
		margin-right: 10px;
	}
}
.header__user_menu_link {
	fill: #e3e5ee;
    margin: auto 19px;
    & #equal {
		width: 26px;
		height: 26px;
    }
}
.header__user_settings_link {
	fill: #e3e5ee;
    margin: auto 19px;
    & #gear {
		width: 26px;
		height: 26px;
    }
}
/*!header*/