.left__menu_item-link_icon_dashboard {
	fill: rgba(255, 180, 63, 1);
}
.left__menu_item-link_icon_properties {
	fill: rgba(80, 158, 221, 1);
}
.left__menu_item-link_icon_tenants {
	fill: rgba(114, 194, 117, 1);
}
.left__menu_item-link_icon_messages {
	fill: rgba(235, 208, 88, 1);
}
.left__menu_item-link_icon_maintenance {
	fill: rgba(84, 110, 122, 1);
}
.left__menu_item-link_icon_listings {
	fill: rgba(87, 136, 208, 1);
}
.left__menu_item-link_icon_applications {
	fill: rgba(229, 170, 23, 1);
}
.left__menu_item-link_icon_finances {
	fill: rgba(193, 199, 221, 1);
}
.left__menu_item-link_icon_reports {
	fill: rgba(219, 120, 154, 1);
}
.left__menu_item-link_icon_rules {
	fill: rgba(222, 119, 111, 1);
}
.left__menu_item-link_icon_inspection {
	fill: rgba(57, 43, 164, 1);
}
/*!left menu icons*/
.left__menu_item-link_icon {
	font-size: 0;
	@include breakpoint(320px) {
	    margin-left: 11.3%;
		margin-right: 16px;
	    display: inline-block;
		& .my_svg {
			width: 27px;
			height: 27px;
		}
	}
	@include breakpoint(2000px) {
		margin-right: 32px;
		& .my_svg {
			width: 1vw;
			height: 1vw;
		}
	}
	@media screen and (min-device-aspect-ratio: 21/9) {
		margin-right: 16px;
		& .my_svg {
			width: 1.5vw;
			height: 1.5vw;
		}
	}
}
.left-sidebar {
	overflow: hidden;
	flex: 1 0 12.4375vw;
	@include breakpoint(320px) {
		height: 94.237vh;
		width: 17vw;
	}
	@include breakpoint(1170px) {
		width: 12.4375vw;
	}
	@include breakpoint(2000px) {
		height: 93.277vh;
	}
}
.left__menu {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.left__menu_item {
	position: relative;
}
.left__menu_item-link {
	color: $left-menu-color;
	z-index: 999;
	display: flex;
	align-items: center;
    justify-content: flex-start;
	&:after {
		transition: background-color 0.3s;
	}
	&.bg_maintenance,
	&.bg_applications,
	&.bg_reports {
		&:before {
			content: '';
			display: block;
			position: absolute;
			background-color: #f4f5f9;
			height: 2px;
			width: 100%;
			bottom: 0;
		}
	}
	&:hover,
	&.active {
		transition: background-color 0.3s;
		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
			@include breakpoint(320px) {
				width: 3px;
			}
			@include breakpoint(2000px) {
				width: 10px;
			}
		}
		&:before {
			display: none;
		}
	}
	@include breakpoint(320px) {
		font-size: 11px;
		padding: 2.89vh 0;
	}
	@include breakpoint(2000px) {
		font-size: 0.78125vw;
		padding: 2vh 0;
	}
	@include breakpoint(2880px) {
		padding: 2.6vh 0;
		font-size: 25px;
	}
	@media screen and (min-device-aspect-ratio: 21/9) {
		font-size: 14px;
	}
}
.bg_dashboard {
	&:hover,
	&.active{
		background-color: rgba(255, 180, 63, 0.1);
		&:after {
			background-color: rgba(255, 180, 63, 1);
		}
	}
}
.bg_properties {
	&:hover,
	&.active{
		background-color: rgba(80, 158, 221, 0.1);
		&:after {
			background-color: rgba(80, 158, 221, 1);
		}
	}
}
.bg_tenants {
	&:hover,
	&.active{
		background-color: rgba(114, 194, 117, 0.1);
		&:after {
			background-color: rgb(114, 194, 117);
		}
	}
}
.bg_messages {
	&:hover,
	&.active{
		background-color: rgba(235, 208, 88, 0.1);
		&:after {
			background-color: rgb(235, 208, 88);
		}
	}
}
.bg_maintenance {
	&:hover,
	&.active{
		background-color: rgba(84, 110, 122, 0.1);
		&:after {
			background-color: rgba(84, 110, 122, 1);
		}
	}
}
.bg_listings {
	&:hover,
	&.active{
		background-color: rgba(87, 136, 208, 0.1);
		&:after {
			background-color: rgba(87, 136, 208, 1);
		}
	}
}
.bg_applications {
	&:hover,
	&.active{
		background-color: rgba(229, 170, 23, 0.1);
		&:after {
			background-color: rgba(229, 170, 23, 1);
		}
	}
}
.bg_finances {
	&:hover,
	&.active{
		background-color: rgba(193, 199, 221, 0.1);
		&:after {
			background-color: rgba(193, 199, 221, 1);
		}
	}
}
.bg_reports {
	&:hover,
	&.active{
		background-color: rgba(219, 120, 154, 0.1);
		&:after {
			background-color: rgba(219, 120, 154, 1);
		}
	}
}
.bg_rules {
	&:hover,
	&.active{
		background-color: rgba(222, 119, 111, 0.1);
		&:after {
			background-color: rgba(222, 119, 111, 1);
		}
	}
}
.bg_inspection {
	&:hover,
	&.active{
		background-color: rgba(57, 43, 164, 0.1);
		&:after {
			background-color: #392ba4;
		}
	}
}
/*!left_menu*/