.left__menu_item-link_icon_dashboard {
	fill: rgba(255, 180, 63, 1);
}
.left__menu_item-link_icon_properties {
	fill: rgba(80, 158, 221, 1);
}
.left__menu_item-link_icon_tenants {
	fill: rgba(114, 194, 117, 1);
}
.left__menu_item-link_icon_messages {
	fill: rgba(235, 208, 88, 1);
}
.left__menu_item-link_icon_maintenance {
	fill: rgba(84, 110, 122, 1);
}
.left__menu_item-link_icon_listings {
	fill: rgba(87, 136, 208, 1);
}
.left__menu_item-link_icon_applications {
	fill: rgba(229, 170, 23, 1);
}
.left__menu_item-link_icon_finances {
	fill: rgba(193, 199, 221, 1);
}
.left__menu_item-link_icon_reports {
	fill: rgba(219, 120, 154, 1);
}
.left__menu_item-link_icon_rules {
	fill: rgba(222, 119, 111, 1);
}
.left__menu_item-link_icon_inspection {
	fill: rgba(57, 43, 164, 1);
}
/*!left menu icons*/
.left__menu_item-link_icon {
    margin-left: 11.3%;
	margin-right: 16px;
	& .my_svg {
		width: 19px;
		height: 19px;
	}
}
.left-sidebar {
	overflow: hidden;
	flex: 0 0 235px;
	@include breakpoint(320px) {
		height: 94.237vh;
		width: 235px;
	}
 	@include breakpoint(2000px) {
		height: 93.277vh;
	}
}
.left__menu {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.left__menu_item {
	position: relative;
}
.left__menu_item-link {
	color: $left-menu-color;
	display: flex;
	align-items: center;
    justify-content: flex-start;
	&:after {
		transition: background-color 0.3s;
	}
	&.bg_dashboard,
	&.bg_maintenance,
	&.bg_applications,
	&.bg_reports {
		&:before {
			content: '';
			display: block;
			position: absolute;
			background-color: #f4f5f9;
			height: 2px;
			width: 100%;
			bottom: 0;
		}
	}
	&:hover,
	&.active {
		transition: background-color 0.3s;
		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
			width: 3px;
		}
		&:before {
			display: none;
		}
	}
	font-size: 14px;
	padding: 28px 0;
}
.bg_dashboard {
	&:hover,
	&.active{
		background-color: rgba(255, 180, 63, 0.1);
		&:after {
			background-color: rgba(255, 180, 63, 1);
		}
	}
}
.bg_properties {
	&:hover,
	&.active{
		background-color: rgba(80, 158, 221, 0.1);
		&:after {
			background-color: rgba(80, 158, 221, 1);
		}
	}
}
.bg_tenants {
	&:hover,
	&.active{
		background-color: rgba(114, 194, 117, 0.1);
		&:after {
			background-color: rgb(114, 194, 117);
		}
	}
}
.bg_messages {
	&:hover,
	&.active{
		background-color: rgba(235, 208, 88, 0.1);
		&:after {
			background-color: rgb(235, 208, 88);
		}
	}
}
.bg_maintenance {
	&:hover,
	&.active{
		background-color: rgba(84, 110, 122, 0.1);
		&:after {
			background-color: rgba(84, 110, 122, 1);
		}
	}
}
.bg_listings {
	&:hover,
	&.active{
		background-color: rgba(87, 136, 208, 0.1);
		&:after {
			background-color: rgba(87, 136, 208, 1);
		}
	}
}
.bg_applications {
	&:hover,
	&.active{
		background-color: rgba(229, 170, 23, 0.1);
		&:after {
			background-color: rgba(229, 170, 23, 1);
		}
	}
}
.bg_finances {
	&:hover,
	&.active{
		background-color: rgba(193, 199, 221, 0.1);
		&:after {
			background-color: rgba(193, 199, 221, 1);
		}
	}
}
.bg_reports {
	&:hover,
	&.active{
		background-color: rgba(219, 120, 154, 0.1);
		&:after {
			background-color: rgba(219, 120, 154, 1);
		}
	}
}
.bg_rules {
	&:hover,
	&.active{
		background-color: rgba(222, 119, 111, 0.1);
		&:after {
			background-color: rgba(222, 119, 111, 1);
		}
	}
}
.bg_inspection {
	&:hover,
	&.active{
		background-color: rgba(57, 43, 164, 0.1);
		&:after {
			background-color: #392ba4;
		}
	}
}
/*!left_menu*/