.left__menu_item-link_icon_dashboard {
	fill: rgba(255, 180, 63, 1);
}
.left__menu_item-link_icon_properties {
	fill: rgba(0, 172, 193, 1);
}
.left__menu_item-link_icon_tenants {
	fill: rgba(30, 136, 229, 1);
}
.left__menu_item-link_icon_applications {
	fill: rgba(124, 179, 66, 1);
}
.left__menu_item-link_icon_messages {
	fill: rgba(253, 216, 53, 1);
}
.left__menu_item-link_icon_reports {
	fill: rgba(244, 81, 30, 1);
}
.left__menu_item-link_icon_maintenance {
	fill: rgba(84, 110, 122, 1);
}
.left__menu_item-link_icon_rules {
	fill: rgba(142, 36, 170, 1);
}
/*!left menu icons*/
.left__menu_item-link_icon {
	font-size: 0;
	@include breakpoint(320px) {
		margin: 0 auto 10px auto;
	    display: inline-block;
		& .my_svg {
			width: 27px;
			height: 27px;
		}
		& #tenants {
			height: 19px;
		}
		& #messages,
		& #reports,
		& #properties {
			height: 23px;
		}
	}
	@include breakpoint(2000px) {
		margin: 0 auto 20px auto;
		& .my_svg {
			width: 2vw;
			height: 2vw;
		}
		& #tenants {
			height: 1.407vw;
		}
		& #messages,
		& #reports,
		& #properties {
			height: 1.703vw;
		}
	}
	@media screen and (min-device-aspect-ratio: 21/9) {
		margin: 0 auto 10px auto;
		& .my_svg {
			width: 1.5vw;
			height: 1.5vw;
		}
		& #tenants {
			height: 1.055vw;
		}
		& #messages,
		& #reports,
		& #properties {
			height: 1.277vw;
		}
	}
}
.left-sidebar {
	overflow: hidden;
	flex: 1 0 12.4375vw;
	@include breakpoint(320px) {
		height: 94.237vh;
		width: 17vw;
	}
	@include breakpoint(1170px) {
		width: 12.4375vw;
	}
	@include breakpoint(2000px) {
		height: 93.277vh;
	}
}
.left__menu {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.left__menu_item {
	position: relative;
}
.left__menu_item-link {
	color: $left-menu-color;
	text-align: center;
	text-transform: uppercase;
	display: block;
	&:after {
		transition: background-color 0.3s;
	}
	&:hover,
	&.active {
		transition: background-color 0.3s;
		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
			@include breakpoint(320px) {
				width: 3px;
			}
			@include breakpoint(2000px) {
				width: 10px;
			}
		}
	}
	@include breakpoint(320px) {
		font-size: 11px;
		padding: 2.89vh 0;
	}
	@include breakpoint(2000px) {
		font-size: 0.78125vw;
		padding: 2vh 0;
	}
	@include breakpoint(2880px) {
		padding: 2.6vh 0;
		font-size: 25px;
	}
	@media screen and (min-device-aspect-ratio: 21/9) {
		font-size: 14px;
	}
}
.bg_dashboard {
	&:hover,
	&.active{
		background-color: rgba(255, 180, 63, 0.1);
		&:after {
			background-color: #ffb43f;
		}
	}
}
.bg_properties {
	&:hover,
	&.active{
		background-color: rgba(0, 172, 193, 0.1);
		&:after {
			background-color: #00acc1;
		}
	}
}
.bg_tenants {
	&:hover,
	&.active{
		background-color: rgba(30, 136, 229, 0.1);
		&:after {
			background-color: #1e88e5;
		}
	}
}
.bg_applications {
	&:hover,
	&.active{
		background-color: rgba(124, 179, 66, 0.1);
		&:after {
			background-color: #7cb342;
		}
	}
}
.bg_messages {
	&:hover,
	&.active{
		background-color: rgba(253, 216, 53, 0.1);
		&:after {
			background-color: #fdd835;
		}
	}
}
.bg_reports {
	&:hover,
	&.active{
		background-color: rgba(244, 81, 30, 0.1);
		&:after {
			background-color: #f4511e;
		}
	}
}
.bg_maintenance {
	&:hover,
	&.active{
		background-color: rgba(84, 110, 122, 0.1);
		&:after {
			background-color: #546e7a;
		}
	}
}
.bg_rules {
	&:hover,
	&.active{
		background-color: rgba(142, 36, 170, 0.1);
		&:after {
			background-color: #8e24aa;
		}
	}
}
/*!left_menu*/