$primary-font: Montserrat-Regular;

$second-font: Montserrat-Bold;

$third-font: NotoSerif-Regular;

$fourth-font: Montserrat-Medium;

$primary-font-color: #000000;

$second-font-color: #c2c5d3;

$profile-font-color: #c3c5d0;

$content-menu-font-color: #8b8e98;

$background-content-color: #f4f5f9;

$blue-text: #2365c8;

$green-text: #2ec28c;

$red-text: #e94f4f;

$red-btn: #c8352d;

$white-text: #ffffff;

$green-element: #2dc888;

$logotype-color: #2365c8;

$border-color: #e0e2e9;

$left-menu-color: #81869a;

.clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

.rp__btn {
	font-family: $second-font;
	transition: color 0.3s;
	transition: background-color 0.3s;
	text-transform: uppercase;
    text-align: center;
    display: inline-block;
    border: 2px solid;
	min-width: 145px;
	font-size: 10.62px;
	padding: 13px 28px;
	border-radius: 6px;
}
.rp__input {
    width: 100%;
    position: relative;
    border: 2px solid #eff1f7;
    background-color: #fff;
    height: auto;
    box-shadow: none;
    border-radius: 0;
    font-size: inherit;
    @include breakpoint(320px) {
        padding: 7px 5px;
        margin-top: 3px;
    }
}
/*mixins*/