.rp__content > .scroll-element,
.rp__content > .scroll-element div
{
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10;
}
.rp__content > .scroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}
.rp__content > .scroll-element.scroll-x {
    bottom: 2px;
    height: 8px;
    left: 0;
    width: 100%;
}
.rp__content > .scroll-element.scroll-y {
    height: 100%;
    right: 2px;
    top: 0;
    width: 8px;
}
.rp__content > .scroll-element .scroll-element_outer {
    overflow: hidden;
}
.rp__content > .scroll-element .scroll-element_track { background-color: #e0e0e0; }
.rp__content > .scroll-element .scroll-bar { background-color: $logotype-color; }
.rp__content > .scroll-element:hover .scroll-bar { background-color: $logotype-color; }
.rp__content > .scroll-element.scroll-draggable .scroll-bar { background-color: $logotype-color; }

.rp__content > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track { left: -12px; }
.rp__content > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track { top: -12px; }

.rp__content > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { left: -12px; }
.rp__content > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: -12px; }
/*!scroll*/