@mixin sprite($filename) {
    display: block;
    @media (min-width: 320px) {
      @if $filename == add_property {
        background-image: url(/assets/img/sprite.png);
        background-position: 0px -84px;
        background-size: 32px;
        width: 16px;
        height: 16px;
      }
      @if $filename == add_tenants {
        background-image: url(/assets/img/sprite.png);
        background-position: 0px -180px;
        background-size: 32px;
        width: 15px;
        height: 16px;
      }
      @if $filename == advertise_prop {
        background-image: url(/assets/img/sprite.png);
        background-position: 0px -228px;
        background-size: 32px;
        width: 17px;
        height: 17px;
      }
      @if $filename == applications {
        background-image: url(/assets/img/sprite.png);
        background-position: 0px -537px;
        background-size: 32px;
        width: 32px;
        height: 32px;
      }
      @if $filename == arrow_down {
        background-image: url(/assets/img/sprite.png);
        background-position: 0px 0px;
        background-size: 32px;
        width: 8px;
        height: 5px;
      }
      @if $filename == calendar {
        background-image: url(/assets/img/sprite.png);
        background-position: 0px -15px;
        background-size: 32px;
        width: 12px;
        height: 12px;
      }
      @if $filename == compas {
        background-image: url(/assets/img/sprite.png);
        background-position: 0px -39px;
        background-size: 32px;
        width: 18px;
        height: 15px;
      }
      @if $filename == dashboard {
        background-image: url(/assets/img/sprite.png);
        background-position: 0px -507px;
        background-size: 32px;
        width: 30px;
        height: 30px;
      }
      @if $filename == delete_sm {
        background-image: url(/assets/img/sprite.png);
        background-position: 0px -262px;
        background-size: 32px;
        width: 13px;
        height: 17px;
      }
      @if $filename == edit_sm {
        background-image: url(/assets/img/sprite.png);
        background-position: 0px -245px;
        background-size: 32px;
        width: 17px;
        height: 17px;
      }
      @if $filename == equal {
        background-image: url(/assets/img/sprite.png);
        background-position: 0px -279px;
        background-size: 32px;
        width: 22px;
        height: 18px;
      }
      @if $filename == gear {
        background-image: url(/assets/img/sprite.png);
        background-position: 0px -319px;
        background-size: 32px;
        width: 25px;
        height: 25px;
      }
      @if $filename == gear_sm {
        background-image: url(/assets/img/sprite.png);
        background-position: 0px -164px;
        background-size: 32px;
        width: 16px;
        height: 16px;
      }
      @if $filename == in_arrears {
        background-image: url(/assets/img/sprite.png);
        background-position: 0px -479px;
        background-size: 32px;
        width: 28px;
        height: 28px;
      }
      @if $filename == last_inspection {
        background-image: url(/assets/img/sprite.png);
        background-position: 0px -196px;
        background-size: 32px;
        width: 16px;
        height: 16px;
      }
      @if $filename == latest_payment {
        background-image: url(/assets/img/sprite.png);
        background-position: 0px -212px;
        background-size: 32px;
        width: 16px;
        height: 16px;
      }
      @if $filename == maintenance {
        background-image: url(/assets/img/sprite.png);
        background-position: 0px -569px;
        background-size: 32px;
        width: 32px;
        height: 32px;
      }
      @if $filename == messages {
        background-image: url(/assets/img/sprite.png);
        background-position: 0px -370px;
        background-size: 32px;
        width: 32px;
        height: 26px;
      }
      @if $filename == properties {
        background-image: url(/assets/img/sprite.png);
        background-position: 0px -344px;
        background-size: 32px;
        width: 32px;
        height: 26px;
      }
      @if $filename == property_vacant {
        background-image: url(/assets/img/sprite.png);
        background-position: 0px -423px;
        background-size: 32px;
        width: 28px;
        height: 28px;
      }
      @if $filename == receive_payments {
        background-image: url(/assets/img/sprite.png);
        background-position: 0px -27px;
        background-size: 32px;
        width: 16px;
        height: 12px;
      }
      @if $filename == remind {
        background-image: url(/assets/img/sprite.png);
        background-position: 0px -69px;
        background-size: 32px;
        width: 16px;
        height: 15px;
      }
      @if $filename == rent {
        background-image: url(/assets/img/sprite.png);
        background-position: 0px -54px;
        background-size: 32px;
        width: 16px;
        height: 15px;
      }
      @if $filename == reports {
        background-image: url(/assets/img/sprite.png);
        background-position: 0px -396px;
        background-size: 32px;
        width: 32px;
        height: 27px;
      }
      @if $filename == rules {
        background-image: url(/assets/img/sprite.png);
        background-position: 0px -601px;
        background-size: 32px;
        width: 30px;
        height: 32px;
      }
      @if $filename == search {
        background-image: url(/assets/img/sprite.png);
        background-position: 0px -100px;
        background-size: 32px;
        width: 16px;
        height: 16px;
      }
      @if $filename == tenant {
        background-image: url(/assets/img/sprite.png);
        background-position: 0px -148px;
        background-size: 32px;
        width: 16px;
        height: 16px;
      }
      @if $filename == tenants {
        background-image: url(/assets/img/sprite.png);
        background-position: 0px -297px;
        background-size: 32px;
        width: 32px;
        height: 22px;
      }
      @if $filename == up_to_date {
        background-image: url(/assets/img/sprite.png);
        background-position: 0px -451px;
        background-size: 32px;
        width: 28px;
        height: 28px;
      }
      @if $filename == view_all {
        background-image: url(/assets/img/sprite.png);
        background-position: 0px -116px;
        background-size: 32px;
        width: 16px;
        height: 16px;
      }
      @if $filename == view_applicants {
        background-image: url(/assets/img/sprite.png);
        background-position: 0px -5px;
        background-size: 32px;
        width: 16px;
        height: 10px;
      }
      @if $filename == view_listing {
        background-image: url(/assets/img/sprite.png);
        background-position: 0px -132px;
        background-size: 32px;
        width: 16px;
        height: 16px;
      }
    }
    @media (min-width: 2600px) {
      @if $filename == add_property {
        background-image: url(/assets/img/sprite2x.png);
        background-position-x: 0px / 2px * 4px;
        background-position-y: -84px / 2px * 4px;
        background-size: 32px / 2px * 4px;
        width: 16px / 2px * 4px;
        height: 16px / 2px * 4px;
      }
      @if $filename == add_tenants {
        background-image: url(/assets/img/sprite2x.png);
        background-position-x: 0px / 2px * 4px;
        background-position-y: -180px / 2px * 4px;
        background-size: 32px / 2px * 4px;
        width: 15px / 2px * 4px;
        height: 16px / 2px * 4px;
      }
      @if $filename == advertise_prop {
        background-image: url(/assets/img/sprite2x.png);
        background-position-x: 0px / 2px * 4px;
        background-position-y: -228px / 2px * 4px;
        background-size: 32px / 2px * 4px;
        width: 17px / 2px * 4px;
        height: 17px / 2px * 4px;
      }
      @if $filename == applications {
        background-image: url(/assets/img/sprite2x.png);
        background-position-x: 0px / 2px * 4px;
        background-position-y: -537px / 2px * 4px;
        background-size: 32px / 2px * 4px;
        width: 32px / 2px * 4px;
        height: 32px / 2px * 4px;
      }
      @if $filename == arrow_down {
        background-image: url(/assets/img/sprite2x.png);
        background-position-x: 0px / 2px * 4px;
        background-position-y: 0px / 2px * 4px;
        background-size: 32px / 2px * 4px;
        width: 8px / 2px * 4px;
        height: 5px / 2px * 4px;
      }
      @if $filename == calendar {
        background-image: url(/assets/img/sprite2x.png);
        background-position-x: 0px / 2px * 4px;
        background-position-y: -15px / 2px * 4px;
        background-size: 32px / 2px * 4px;
        width: 12px / 2px * 4px;
        height: 12px / 2px * 4px;
      }
      @if $filename == compas {
        background-image: url(/assets/img/sprite2x.png);
        background-position-x: 0px / 2px * 4px;
        background-position-y: -39px / 2px * 4px;
        background-size: 32px / 2px * 4px;
        width: 18px / 2px * 4px;
        height: 15px / 2px * 4px;
      }
      @if $filename == dashboard {
        background-image: url(/assets/img/sprite2x.png);
        background-position-x: 0px / 2px * 4px;
        background-position-y: -507px / 2px * 4px;
        background-size: 32px / 2px * 4px;
        width: 30px / 2px * 4px;
        height: 30px / 2px * 4px;
      }
      @if $filename == delete_sm {
        background-image: url(/assets/img/sprite2x.png);
        background-position-x: 0px / 2px * 4px;
        background-position-y: -262px / 2px * 4px;
        background-size: 32px / 2px * 4px;
        width: 13px / 2px * 4px;
        height: 17px / 2px * 4px;
      }
      @if $filename == edit_sm {
        background-image: url(/assets/img/sprite2x.png);
        background-position-x: 0px / 2px * 4px;
        background-position-y: -245px / 2px * 4px;
        background-size: 32px / 2px * 4px;
        width: 17px / 2px * 4px;
        height: 17px / 2px * 4px;
      }
      @if $filename == equal {
        background-image: url(/assets/img/sprite2x.png);
        background-position-x: 0px / 2px * 4px;
        background-position-y: -279px / 2px * 4px;
        background-size: 32px / 2px * 4px;
        width: 22px / 2px * 4px;
        height: 18px / 2px * 4px;
      }
      @if $filename == gear {
        background-image: url(/assets/img/sprite2x.png);
        background-position-x: 0px / 2px * 4px;
        background-position-y: -319px / 2px * 4px;
        background-size: 32px / 2px * 4px;
        width: 25px / 2px * 4px;
        height: 25px / 2px * 4px;
      }
      @if $filename == gear_sm {
        background-image: url(/assets/img/sprite2x.png);
        background-position-x: 0px / 2px * 4px;
        background-position-y: -164px / 2px * 4px;
        background-size: 32px / 2px * 4px;
        width: 16px / 2px * 4px;
        height: 16px / 2px * 4px;
      }
      @if $filename == in_arrears {
        background-image: url(/assets/img/sprite2x.png);
        background-position-x: 0px / 2px * 4px;
        background-position-y: -479px / 2px * 4px;
        background-size: 32px / 2px * 4px;
        width: 28px / 2px * 4px;
        height: 28px / 2px * 4px;
      }
      @if $filename == last_inspection {
        background-image: url(/assets/img/sprite2x.png);
        background-position-x: 0px / 2px * 4px;
        background-position-y: -196px / 2px * 4px;
        background-size: 32px / 2px * 4px;
        width: 16px / 2px * 4px;
        height: 16px / 2px * 4px;
      }
      @if $filename == latest_payment {
        background-image: url(/assets/img/sprite2x.png);
        background-position-x: 0px / 2px * 4px;
        background-position-y: -212px / 2px * 4px;
        background-size: 32px / 2px * 4px;
        width: 16px / 2px * 4px;
        height: 16px / 2px * 4px;
      }
      @if $filename == maintenance {
        background-image: url(/assets/img/sprite2x.png);
        background-position-x: 0px / 2px * 4px;
        background-position-y: -569px / 2px * 4px;
        background-size: 32px / 2px * 4px;
        width: 32px / 2px * 4px;
        height: 32px / 2px * 4px;
      }
      @if $filename == messages {
        background-image: url(/assets/img/sprite2x.png);
        background-position-x: 0px / 2px * 4px;
        background-position-y: -370px / 2px * 4px;
        background-size: 32px / 2px * 4px;
        width: 32px / 2px * 4px;
        height: 26px / 2px * 4px;
      }
      @if $filename == properties {
        background-image: url(/assets/img/sprite2x.png);
        background-position-x: 0px / 2px * 4px;
        background-position-y: -344px / 2px * 4px;
        background-size: 32px / 2px * 4px;
        width: 32px / 2px * 4px;
        height: 26px / 2px * 4px;
      }
      @if $filename == property_vacant {
        background-image: url(/assets/img/sprite2x.png);
        background-position-x: 0px / 2px * 4px;
        background-position-y: -423px / 2px * 4px;
        background-size: 32px / 2px * 4px;
        width: 28px / 2px * 4px;
        height: 28px / 2px * 4px;
      }
      @if $filename == receive_payments {
        background-image: url(/assets/img/sprite2x.png);
        background-position-x: 0px / 2px * 4px;
        background-position-y: -27px / 2px * 4px;
        background-size: 32px / 2px * 4px;
        width: 16px / 2px * 4px;
        height: 12px / 2px * 4px;
      }
      @if $filename == remind {
        background-image: url(/assets/img/sprite2x.png);
        background-position-x: 0px / 2px * 4px;
        background-position-y: -69px / 2px * 4px;
        background-size: 32px / 2px * 4px;
        width: 16px / 2px * 4px;
        height: 15px / 2px * 4px;
      }
      @if $filename == rent {
        background-image: url(/assets/img/sprite2x.png);
        background-position-x: 0px / 2px * 4px;
        background-position-y: -54px / 2px * 4px;
        background-size: 32px / 2px * 4px;
        width: 16px / 2px * 4px;
        height: 15px / 2px * 4px;
      }
      @if $filename == reports {
        background-image: url(/assets/img/sprite2x.png);
        background-position-x: 0px / 2px * 4px;
        background-position-y: -396px / 2px * 4px;
        background-size: 32px / 2px * 4px;
        width: 32px / 2px * 4px;
        height: 27px / 2px * 4px;
      }
      @if $filename == rules {
        background-image: url(/assets/img/sprite2x.png);
        background-position-x: 0px / 2px * 4px;
        background-position-y: -601px / 2px * 4px;
        background-size: 32px / 2px * 4px;
        width: 30px / 2px * 4px;
        height: 32px / 2px * 4px;
      }
      @if $filename == search {
        background-image: url(/assets/img/sprite2x.png);
        background-position-x: 0px / 2px * 4px;
        background-position-y: -100px / 2px * 4px;
        background-size: 32px / 2px * 4px;
        width: 16px / 2px * 4px;
        height: 16px / 2px * 4px;
      }
      @if $filename == tenant {
        background-image: url(/assets/img/sprite2x.png);
        background-position-x: 0px / 2px * 4px;
        background-position-y: -148px / 2px * 4px;
        background-size: 32px / 2px * 4px;
        width: 16px / 2px * 4px;
        height: 16px / 2px * 4px;
      }
      @if $filename == tenants {
        background-image: url(/assets/img/sprite2x.png);
        background-position-x: 0px / 2px * 4px;
        background-position-y: -297px / 2px * 4px;
        background-size: 32px / 2px * 4px;
        width: 32px / 2px * 4px;
        height: 22px / 2px * 4px;
      }
      @if $filename == up_to_date {
        background-image: url(/assets/img/sprite2x.png);
        background-position-x: 0px / 2px * 4px;
        background-position-y: -451px / 2px * 4px;
        background-size: 32px / 2px * 4px;
        width: 28px / 2px * 4px;
        height: 28px / 2px * 4px;
      }
      @if $filename == view_all {
        background-image: url(/assets/img/sprite2x.png);
        background-position-x: 0px / 2px * 4px;
        background-position-y: -116px / 2px * 4px;
        background-size: 32px / 2px * 4px;
        width: 16px / 2px * 4px;
        height: 16px / 2px * 4px;
      }
      @if $filename == view_applicants {
        background-image: url(/assets/img/sprite2x.png);
        background-position-x: 0px / 2px * 4px;
        background-position-y: -5px / 2px * 4px;
        background-size: 32px / 2px * 4px;
        width: 16px / 2px * 4px;
        height: 10px / 2px * 4px;
      }
      @if $filename == view_listing {
        background-image: url(/assets/img/sprite2x.png);
        background-position-x: 0px / 2px * 4px;
        background-position-y: -132px / 2px * 4px;
        background-size: 32px / 2px * 4px;
        width: 16px / 2px * 4px;
        height: 16px / 2px * 4px;
      }
    }
}