@mixin sprite($filename) {
    display: block;
    @media (min-width: 320px) {
      @if $filename == add_property {
        background-image: url(/assets/img/sprite.png);
        background-position: calc(0px/2) calc(-143px/2);
        height: calc(32px/1.9);
        width: calc(32px/1.9);
        background-size: calc(64px/2);
      }
      @if $filename == add_tenants {
        background-image: url(/assets/img/sprite.png);
        background-position: calc(0px/2) calc(-431px/2);
        height: calc(32px/1.9);
        width: calc(30px/1.9);
        background-size: calc(64px/2);
      }
      @if $filename == advertise_prop {
        background-image: url(/assets/img/sprite.png);
        background-position: calc(0px/2) calc(-495px/2);
        height: calc(34px/1.9);
        width: calc(33px/1.9);
        background-size: calc(64px/2);
      }
      @if $filename == applications {
        background-image: url(/assets/img/sprite.png);
        background-position: calc(0px/2) calc(-1104px/2);
        height: calc(64px/1.9);
        width: calc(64px/1.9);
        background-size: calc(64px/2);
      }
      @if $filename == arrow_down {
        background-image: url(/assets/img/sprite.png);
        background-position: calc(0px/2) calc(0px/2);
        height: calc(9px/1.9);
        width: calc(16px/1.9);
        background-size: calc(64px/2);
      }
      @if $filename == compas {
        background-image: url(/assets/img/sprite.png);
        background-position: calc(0px/2) calc(-53px/2);
        height: calc(30px/1.9);
        width: calc(35px/1.9);
        background-size: calc(64px/2);
      }
      @if $filename == dashboard {
        background-image: url(/assets/img/sprite.png);
        background-position: calc(0px/2) calc(-980px/2);
        height: calc(60px/1.9);
        width: calc(60px/1.9);
        background-size: calc(64px/2);
      }
      @if $filename == delete_sm {
        background-image: url(/assets/img/sprite.png);
        background-position: calc(0px/2) calc(-175px/2);
        height: calc(32px/1.9);
        width: calc(24px/1.9);
        background-size: calc(64px/2);
      }
      @if $filename == edit_sm {
        background-image: url(/assets/img/sprite.png);
        background-position: calc(0px/2) calc(-207px/2);
        height: calc(32px/1.9);
        width: calc(32px/1.9);
        background-size: calc(64px/2);
      }
      @if $filename == equal {
        background-image: url(/assets/img/sprite.png);
        background-position: calc(0px/2) calc(-529px/2);
        height: calc(35px/1.9);
        width: calc(43px/1.9);
        background-size: calc(64px/2);
      }
      @if $filename == gear {
        background-image: url(/assets/img/sprite.png);
        background-position: calc(0px/2) calc(-608px/2);
        height: calc(49px/1.9);
        width: calc(49px/1.9);
        background-size: calc(64px/2);
      }
      @if $filename == gear_sm {
        background-image: url(/assets/img/sprite.png);
        background-position: calc(0px/2) calc(-303px/2);
        height: calc(32px/1.9);
        width: calc(32px/1.9);
        background-size: calc(64px/2);
      }
      @if $filename == in_arrears {
        background-image: url(/assets/img/sprite.png);
        background-position: calc(0px/2) calc(-925px/2);
        height: calc(55px/1.9);
        width: calc(55px/1.9);
        background-size: calc(64px/2);
      }
      @if $filename == last_inspection {
        background-image: url(/assets/img/sprite.png);
        background-position: calc(0px/2) calc(-367px/2);
        height: calc(32px/1.9);
        width: calc(32px/1.9);
        background-size: calc(64px/2);
      }
      @if $filename == latest_payment {
        background-image: url(/assets/img/sprite.png);
        background-position: calc(0px/2) calc(-399px/2);
        height: calc(32px/1.9);
        width: calc(32px/1.9);
        background-size: calc(64px/2);
      }
      @if $filename == maintenance {
        background-image: url(/assets/img/sprite.png);
        background-position: calc(0px/2) calc(-1168px/2);
        height: calc(64px/1.9);
        width: calc(64px/1.9);
        background-size: calc(64px/2);
      }
      @if $filename == messages {
        background-image: url(/assets/img/sprite.png);
        background-position: calc(0px/2) calc(-657px/2);
        height: calc(52px/1.9);
        width: calc(64px/1.9);
        background-size: calc(64px/2);
      }
      @if $filename == properties {
        background-image: url(/assets/img/sprite.png);
        background-position: calc(0px/2) calc(-709px/2);
        height: calc(52px/1.9);
        width: calc(64px/1.9);
        background-size: calc(64px/2);
      }
      @if $filename == property_vacant {
        background-image: url(/assets/img/sprite.png);
        background-position: calc(0px/2) calc(-815px/2);
        height: calc(55px/1.9);
        width: calc(55px/1.9);
        background-size: calc(64px/2);
      }
      @if $filename == receive_payments {
        background-image: url(/assets/img/sprite.png);
        background-position: calc(0px/2) calc(-29px/2);
        height: calc(24px/1.9);
        width: calc(32px/1.9);
        background-size: calc(64px/2);
      }
      @if $filename == remind {
        background-image: url(/assets/img/sprite.png);
        background-position: calc(0px/2) calc(-113px/2);
        height: calc(30px/1.9);
        width: calc(32px/1.9);
        background-size: calc(64px/2);
      }
      @if $filename == rent {
        background-image: url(/assets/img/sprite.png);
        background-position: calc(0px/2) calc(-83px/2);
        height: calc(30px/1.9);
        width: calc(32px/1.9);
        background-size: calc(64px/2);
      }
      @if $filename == reports {
        background-image: url(/assets/img/sprite.png);
        background-position: calc(0px/2) calc(-761px/2);
        height: calc(54px/1.9);
        width: calc(64px/1.9);
        background-size: calc(64px/2);
      }
      @if $filename == rules {
        background-image: url(/assets/img/sprite.png);
        background-position: calc(0px/2) calc(-1040px/2);
        height: calc(64px/1.9);
        width: calc(60px/1.9);
        background-size: calc(64px/2);
      }
      @if $filename == search {
        background-image: url(/assets/img/sprite.png);
        background-position: calc(0px/2) calc(-239px/2);
        height: calc(32px/1.9);
        width: calc(32px/1.9);
        background-size: calc(64px/2);
      }
      @if $filename == tenant {
        background-image: url(/assets/img/sprite.png);
        background-position: calc(0px/2) calc(-463px/2);
        height: calc(32px/1.9);
        width: calc(32px/1.9);
        background-size: calc(64px/2);
      }
      @if $filename == tenants {
        background-image: url(/assets/img/sprite.png);
        background-position: calc(0px/2) calc(-564px/2);
        height: calc(44px/1.9);
        width: calc(64px/1.9);
        background-size: calc(64px/2);
      }
      @if $filename == up_to_date {
        background-image: url(/assets/img/sprite.png);
        background-position: calc(0px/2) calc(-870px/2);
        height: calc(55px/1.9);
        width: calc(55px/1.9);
        background-size: calc(64px/2);
      }
      @if $filename == view_all {
        background-image: url(/assets/img/sprite.png);
        background-position: calc(0px/2) calc(-335px/2);
        height: calc(32px/1.9);
        width: calc(32px/1.9);
        background-size: calc(64px/2);
      }
      @if $filename == view_applicants {
        background-image: url(/assets/img/sprite.png);
        background-position: calc(0px/2) calc(-9px/2);
        height: calc(20px/1.9);
        width: calc(32px/1.9);
        background-size: calc(64px/2);
      }
      @if $filename == view_listing {
        background-image: url(/assets/img/sprite.png);
        background-position: calc(0px/2) calc(-271px/2);
        height: calc(32px/1.9);
        width: calc(32px/1.9);
        background-size: calc(64px/2);
      }
    }
    @media (min-width: 2600px) {
      @if $filename == add_property {
        background-image: url(/assets/img/sprite.png);
        background-position: 0px -143px;
        height: 32px;
        width: 32px;
        background-size: 64px;
      }
      @if $filename == add_tenants {
        background-image: url(/assets/img/sprite.png);
        background-position: 0px -431px;
        height: 32px;
        width: 30px;
        background-size: 64px;
      }
      @if $filename == advertise_prop {
        background-image: url(/assets/img/sprite.png);
        background-position: 0px -495px;
        height: 34px;
        width: 33px;
        background-size: 64px;
      }
      @if $filename == applications {
        background-image: url(/assets/img/sprite.png);
        background-position: 0px -1104px;
        height: 64px;
        width: 64px;
        background-size: 64px;
      }
      @if $filename == arrow_down {
        background-image: url(/assets/img/sprite.png);
        background-position: 0px 0px;
        height: 9px;
        width: 16px;
        background-size: 64px;
      }
      @if $filename == compas {
        background-image: url(/assets/img/sprite.png);
        background-position: 0px -53px;
        height: 30px;
        width: 35px;
        background-size: 64px;
      }
      @if $filename == dashboard {
        background-image: url(/assets/img/sprite.png);
        background-position: 0px -980px;
        height: 60px;
        width: 60px;
        background-size: 64px;
      }
      @if $filename == delete_sm {
        background-image: url(/assets/img/sprite.png);
        background-position: 0px -175px;
        height: 32px;
        width: 24px;
        background-size: 64px;
      }
      @if $filename == edit_sm {
        background-image: url(/assets/img/sprite.png);
        background-position: 0px -207px;
        height: 32px;
        width: 32px;
        background-size: 64px;
      }
      @if $filename == equal {
        background-image: url(/assets/img/sprite.png);
        background-position: 0px -529px;
        height: 35px;
        width: 43px;
        background-size: 64px;
      }
      @if $filename == gear {
        background-image: url(/assets/img/sprite.png);
        background-position: 0px -608px;
        height: 49px;
        width: 49px;
        background-size: 64px;
      }
      @if $filename == gear_sm {
        background-image: url(/assets/img/sprite.png);
        background-position: 0px -303px;
        height: 32px;
        width: 32px;
        background-size: 64px;
      }
      @if $filename == in_arrears {
        background-image: url(/assets/img/sprite.png);
        background-position: 0px -925px;
        height: 55px;
        width: 55px;
        background-size: 64px;
      }
      @if $filename == last_inspection {
        background-image: url(/assets/img/sprite.png);
        background-position: 0px -367px;
        height: 32px;
        width: 32px;
        background-size: 64px;
      }
      @if $filename == latest_payment {
        background-image: url(/assets/img/sprite.png);
        background-position: 0px -399px;
        height: 32px;
        width: 32px;
        background-size: 64px;
      }
      @if $filename == maintenance {
        background-image: url(/assets/img/sprite.png);
        background-position: 0px -1168px;
        height: 64px;
        width: 64px;
        background-size: 64px;
      }
      @if $filename == messages {
        background-image: url(/assets/img/sprite.png);
        background-position: 0px -657px;
        height: 52px;
        width: 64px;
        background-size: 64px;
      }
      @if $filename == properties {
        background-image: url(/assets/img/sprite.png);
        background-position: 0px -709px;
        height: 52px;
        width: 64px;
        background-size: 64px;
      }
      @if $filename == property_vacant {
        background-image: url(/assets/img/sprite.png);
        background-position: 0px -815px;
        height: 55px;
        width: 55px;
        background-size: 64px;
      }
      @if $filename == receive_payments {
        background-image: url(/assets/img/sprite.png);
        background-position: 0px -29px;
        height: 24px;
        width: 32px;
        background-size: 64px;
      }
      @if $filename == remind {
        background-image: url(/assets/img/sprite.png);
        background-position: 0px -113px;
        height: 30px;
        width: 32px;
        background-size: 64px;
      }
      @if $filename == rent {
        background-image: url(/assets/img/sprite.png);
        background-position: 0px -83px;
        height: 30px;
        width: 32px;
        background-size: 64px;
      }
      @if $filename == reports {
        background-image: url(/assets/img/sprite.png);
        background-position: 0px -761px;
        height: 54px;
        width: 64px;
        background-size: 64px;
      }
      @if $filename == rules {
        background-image: url(/assets/img/sprite.png);
        background-position: 0px -1040px;
        height: 64px;
        width: 60px;
        background-size: 64px;
      }
      @if $filename == search {
        background-image: url(/assets/img/sprite.png);
        background-position: 0px -239px;
        height: 32px;
        width: 32px;
        background-size: 64px;
      }
      @if $filename == tenant {
        background-image: url(/assets/img/sprite.png);
        background-position: 0px -463px;
        height: 32px;
        width: 32px;
        background-size: 64px;
      }
      @if $filename == tenants {
        background-image: url(/assets/img/sprite.png);
        background-position: 0px -564px;
        height: 44px;
        width: 64px;
        background-size: 64px;
      }
      @if $filename == up_to_date {
        background-image: url(/assets/img/sprite.png);
        background-position: 0px -870px;
        height: 55px;
        width: 55px;
        background-size: 64px;
      }
      @if $filename == view_all {
        background-image: url(/assets/img/sprite.png);
        background-position: 0px -335px;
        height: 32px;
        width: 32px;
        background-size: 64px;
      }
      @if $filename == view_applicants {
        background-image: url(/assets/img/sprite.png);
        background-position: 0px -9px;
        height: 20px;
        width: 32px;
        background-size: 64px;
      }
      @if $filename == view_listing {
        background-image: url(/assets/img/sprite.png);
        background-position: 0px -271px;
        height: 32px;
        width: 32px;
        background-size: 64px;
      }
    }
}