extends ../_template

block variables
	- var title = 'Home page'

block content
	main.content
		.container
			h1 Pages
			hr
			ol
				li
					a(href="PropertyList.html", target="_blank") Property List
				li
					a(href="CreateAProperty.html", target="_blank") Create a Property
				li
					a(href="AddTenants.html", target="_blank") Add Tenants
				li
					a(href="UserProfile.html", target="_blank") User Profile
				li
					a(href="test.html", target="_blank") test