extends ../_template

block variables
	- var title = 'Home page'

block content
	main.content
		.container
			h1 Pages
			ul
				li
					a(href="PropertyList.html", target="_blank") Property List
				li
					a(href="CreateAProperty.html", target="_blank") Create a Property