.aplication {
	background-color: #fff;
	display: flex;
	border-radius: 6px;
	margin-bottom: 43px;
	overflow: hidden;
	& .tenant-chat_left_block_chat-inner_middle {
		height: 420px;
	}	
	& .tenant-chat_left_block_chat-inner_header {
		display: flex;
		align-items: center;
		background-color: #979aa7;
	    justify-content: flex-start;
	    font-size: 14px;
	    color: #d0d2dd;
	    padding: 21px 25px;
		& .my_svg {
			width: 16px;
			height: 16px;
			fill: #d9ddea;
			margin-right: 10px;
		}
	}
}
.aplication_block {
	flex: 1 1 1392px;
	padding: 0 40px 45px 35px;
}
.aplication_block_header {
	font-size: 13px;
	display: flex;
	justify-content: space-between;
    padding: 22px 0;
	& .aplication_block_header_number {
		color: #adb1c0;
	}
}
.aplication_block_header_status {
	color: #adb1c0;
}
.aplication_block_header_status,
.aplication_block_header_status .status {
	display: flex;
	align-items: center;
}
.status {
	& .my_svg {
		width: 16px;
		height: 16px;
		margin: 0 10px;
	}
	&.status__pending {
		color: #dcbc6c;
		& .my_svg {
			fill: #dcbc6c;
		}
	}
	&.status__accepted {
		color: #b2e184;
		& .my_svg {
			fill: #b2e184;
		}
	}
	&.status__declined {
		color: #c75050;
		& .my_svg {
			fill: #c75050;
		}
	}
}
.aplication_block_middle_placement {
	display: flex;
	border-radius: 6px;
	overflow: hidden;
	margin-bottom: 32px;
	& .aplication_block_middle_placement_photo {
		flex: 0 1 50%;
		position: relative;
		overflow: hidden;
		height: 330px;
		& img {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			margin: auto;
			height: 100%;
		}
	}
}
.aplication_block_middle_placement_map {
	flex: 1 1 50%;
}
.aplication_block_middle_inner {
	display: flex;
	flex-wrap: wrap;
}
.aplication_block_middle_inner-left {
	flex: 1 1 auto;
}
.aplication_block_middle_inner-right {
	position: relative;
	padding-left: 38px;
	flex: 1 1 60%;
	&:before {
		content: "";
		width: 1px;
		display: block;
		background-color: #f4f5f9;
		position: absolute;
		height: 130%;
		top: -32px;
		left: 0;
	}
	& .aplication_block_middle_inner-right_hint-advice {
		padding-top: 60px;
	}
}
.link__accept {
	margin-right: 12px;
	@extend .rp__btn;
	@extend .rp__btn_green;
}
.link__decline {
	@extend .rp__btn;
	@extend .rp__btn_red;
}
.aplication_block_middle_address {
	display: flex;
	flex-direction: column;
	margin-bottom: 32px;
	& .main__address {
		font-size: 22px;
	}
	& .sub__address {
		font-size: 14px;
		color: #9597a1;
	}
}
.aplication_block_middle_price {
	font-size: 15px;
}
.aplication_block_middle_features {
	display: flex;
	flex-wrap: wrap;
	margin: 35px 0px 20px 0px;
	font-size: 14px;
	color: #c5c7ce;
}
.aplication_block_middle_features_block {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 40px;
}
.aplication_block_middle_features_icon {
	padding: 18px;
	border-radius: 6px;
	background-color: #fff;
    display: inline-block;
    position: relative;
    margin-bottom: 16px;
    box-shadow: 0 3px 12px 0 #cdcfd8;
	& .my_svg {
		width: 32px;
		height: 32px;
		fill: #cdcfd8;
	}
	& sup {
		font-size: 13px;
		font-family: $fourth-font;
		background-color: #c75050;
		border-radius: 50%;
		width: 25px;
		height: 25px;
		color: #fff;
		display: block;
		text-align: center;
		line-height: 1.85;
		position: absolute;
		top: -8px;
		right: -8px;
	}
}
.aplication_block_footer_link-view {
	margin-right: 15px;
	@extend .rp__btn;
	@extend .rp__btn_lite-gray;
}
.aplication_block_footer_link-withdraw {
	@extend .rp__btn;
	@extend .rp__btn_red;
}
.aplication_block_middle_inner-right_status {
	padding-bottom: 40px;
	position: relative;
	& i {
		float: left;
		margin-right: 19px;
		& .my_svg {
			width: 42px;
			height: 42px;
			fill: #6bc886;
		}
	}
	& p {
		font-size: 18px;
	}
	& span {
		font-size: 13px;
		color: #b9bcc5;
	}
	&:after {
		content: '';
		display: block;
		position: absolute;
		width: 105%;
		background-color: #f4f5f9;
		height: 1px;
		bottom: 0;
		left: -38px;
	}
}
.aplication_block_middle_inner-right_status_links {
	margin-top: 20px;
}